*.log
target/
/website/logs
/website/project/project
/website/tmp
/website/.history
/website/dist
/website/out
/website/.classpath
/website/.project
/website/RUNNING_PID
/website/public/dist
/website/public/stylesheets/scss/.sass-cache
