@import "lib/bourbon/bourbon";
@import "lib/utils";
@import "lib/bootstrap/variables";

$headerBg: #f5f5f5;

$labelWidth: 9em;
$inputWidth: 20em;

$fieldWidth: $inputWidth;
$fieldWidthDesktop: $labelWidth + $inputWidth;

@mixin desktop {
  @media screen and (min-width: 49em) {
    @content;
  }
}

@mixin ellipsis($whiteSpace: nowrap) {
  white-space: $whiteSpace;
  overflow: hidden;
  text-overflow: ellipsis;
}
