@import "common";

#create-help-request {
  #content {
    $questionMarkWidth: 2em;

    .field,
    fieldset {
      @include desktop {
        width: $labelWidth + $inputWidth + $questionMarkWidth;
      }
    }

    .tooltip-link {
      display: block;
      width: $questionMarkWidth;
      float: right;
      text-align: right;

      // To be at the same level as the label
      margin-top: -4.65em;

      @include desktop {
        float: left;
        text-align: left;

        margin-top: 0;

        padding: 0.35em 0 0 0.4em;

        // For the padding to be included
        @include box-sizing(border-box)
      }
    }

    .button-progress {
      width: 115px;
    }
  }
}
