@import "lib/common";

body#edit-profile {
  #content {
    .indication {
      display: none;
    }

    > ul {
      @include clearfix();

      > li {
        float: left;
      }
    }

    #account-info {
      display: none;
    }

    .field {
      margin-left: auto;
      margin-right: auto;

      $labelWidth: 8em;
      $inputWidth: 9em;

      width: $inputWidth + $validationIconWidth + $extraSpaceForInputPaddingAndBorder;

      @include desktop {
        $labelWidth: 9em;
        $inputWidth: 12em;

        width: $labelWidth + $inputWidth + $validationIconWidth + $extraSpaceForInputPaddingAndBorder;
      }

      > label {
        width: $labelWidth;
      }

      > input {
        width: $inputWidth;

        clear: both;

        @include desktop {
          clear: none;
        }
      }

      > input[type=checkbox],
      > input[type=radio] {
        width: 1em;
      }
    }

    #email-confirmation-field {
      display: none;
    }
  }
}
