@import "common";

body#edit-profile {
  #content {
    .indication {
      display: none;
    }

    > ul {
      @include clearfix();

      > li {
        float: left;
      }
    }

    #account-info {
      display: none;
    }

    #email-confirmation-field {
      display: none;
    }

    label[for="language"] {
      width: $fieldWidth;
    }

    @include desktop {
      $selectWidth: 6em;

      label[for="language"] {
        width: $fieldWidthDesktop - $validationIconWidth - $extraSpaceForInputPaddingAndBorder - $selectWidth;
      }

      #language {
        width: $selectWidth;
      }
    }
  }
}
