@import "lib/common";

form {
  .field {
    margin-bottom: 0.5em;
  }

  .validation-icon {
    width: $validationIconWidth;
    height: $validationIconHeight;
    background-size: $validationIconWidth $validationIconHeight;
  }

  .valid {
    > .validation-icon {
      background-image: url("/assets/images/valid.png");
    }
  }

  .invalid {
    > .validation-icon {
      background-image: url("/assets/images/invalid.png");
    }
  }

  .field-error {
    font-style: italic;
  }
}

#submit-button-wrapper {
  width: 100%;
  text-align: center;

  margin-top: 2em;

  > input[type=submit] {
    display: block;
  }
}
