@import "common";

form {

  .field,
  fieldset {
    clear: both;

    margin-left: auto;
    margin-right: auto;

    width: $fieldWidth;

    @include desktop {
      width: $fieldWidthDesktop;
    }
  }

  .field {
    @include clearfix;

    margin-bottom: 0.5em;

    > input,
    > select,
    > textarea {
      display: block;
      float: left;
    }

    > label {
      display: block;

      // Since the label is on top of the field, it can be the same width
      width: $fieldWidth;

      &.mdnz-polyfill {
        display: none;

        width: $inputWidth;
      }

      @include desktop {
        @include box-sizing(border-box);

        width: $labelWidth;

        float: left;

        margin-top: 0.35em;
        padding-right: 0.4em;
      }
    }

    > input,
    > select,
    > textarea {
      clear: both;
      width: $inputWidth;

      @include desktop {
        clear: none;
      }
    }

    > ul {
      @include clearfix;

      display: block;
      float: left;

      > li {
        display: block;
        float: left;
      }
    }
  }

  .invalid {
    > input,
    > select,
    > textarea {
      border-color: $errorText;
    }
  }

  .field-error {
    display: none;
    clear: both;

    $fontSize: 13px;

    font-style: italic;
    font-size: $fontSize;
    color: $errorText;

    margin-bottom: $baseLineHeight / 2;

    @include desktop {
      margin-left: $labelWidth * $baseFontSize / $fontSize;

      &.without-label {
        margin-left: 0;
      }
    }
  }

  input[type=submit].hidden {
    /* For it to go below the anchor, keeping the latter centered */
    display: block;

    /* All those properties hide the submit button but keeps submit on enter working */
    border: none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

.check-or-radio {
  // For checkbox and label to be vertically centered
  display: table-row;

  > div {
    display: table-cell;
    vertical-align: middle;

    > input {
      $bootstrapCheckboxTopMargin: 4px;
      margin-bottom: $bootstrapCheckboxTopMargin;

      margin-right: 0.5em;
    }

    > label {
      $bootstrapLabelBottomMargin: 5px;
      margin-top: $bootstrapLabelBottomMargin;
    }
  }
}

.submit-wrapper {
  padding-top: 2em;

  > input {
    display: block;
    margin: auto;
  }
}
