@import "lib/common";

form {
  .field {
    margin-bottom: 0.5em;
  }

  .validation-icon {
    width: $validationIconWidth;
    height: $validationIconHeight;
    background-size: $validationIconWidth $validationIconHeight;
  }

  .valid {
    > .validation-icon {
      background-image: url("/assets/images/valid.png");
    }
  }

  .invalid {
    > .validation-icon {
      background-image: url("/assets/images/invalid.png");
    }
  }
}
