@import "common";

header {
  background-color: $headerBg;

  margin-bottom: 5em;

  @include desktop {
    margin-bottom: 0;
  }
}

#header-nav {
  @include clearfix();

  > h1 {
    float: left;
    font-size: 1em;

    margin-bottom: 0;
    margin-top: 0;
  }

  > span {
    float: right;
  }

  > ul {
    // We need to really hide otherwise the anchors of line-height 0 are still clickable because of some margin or something
    display: none;

    @include prepareForAnimatedSlideDown();

    clear: both;

    background-color: #3f3f3f;
    color: white;

    span {
      cursor: pointer;
    }
  }

  @include desktop {
    padding-bottom: 10em;

    > h1,
    > span {
      display: none;
    }

    > ul {
      @include clearfix();

      // Cancelling mobile-first declaration
      display: block;
      @include unprepareForAnimatedSlideDown();

      background-color: inherit;
      color: $fontDarkGrey;

      > li {
        width: (99% / 7);  // 1% less to round down
        float: left;
        position: relative;

        > ul {
          position: absolute;
        }
      }
    }
  }
}

.sub-nav {
  // We need to really hide otherwise the anchors of line-height 0 are still clickable because of some margin or something
  display: none;
}