@import "lib/common";

header {
  background-color: $headerBg;
}

#header-nav {
  @include clearfix();

  @media screen and (min-width: 801px) {
    padding-bottom: 10em;

    > h1 {
      display: none;
    }

    > span {
      display: none;
    }

    > ul {
      > li {
        width: (100% / 7);
        float: left;
        position: relative;

        > span {
          cursor: pointer;
        }

        > ul {
          position: absolute;
          background-color: $headerBg;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    font-size: 1em;

    > h1 {
      float: left;

      font-size: inherit;

      margin-bottom: 0;
      margin-top: 0.2em;
    }

    > span {
      float: right;
    }

    > ul {
      display: none;
      clear: both;
      background-color: #3f3f3f;
    }
  }
}

.sub-nav {
  display: none;
}