@import "lib/common";

body#help-dashboard {
  #content {
    .actions {
      margin: 10em 0;

      > span {
        width: 50%;
        text-align: center;
      }
    }

    #rss-feed-wrapper {
      text-align: center;
    }
  }
}
