@import "common";

#index {
  #content {
    li {
      @include clearfix;

      margin-bottom: 1.5em;

      $defaultH2FontSize: $baseFontSize * 2.25;

      > h2 {
        font-size: 22px;

        text-align: left;

        @include desktop {
          font-size: $defaultH2FontSize;
        }
      }

      > p {
        margin-bottom: 0.5em;
      }
    }

    .action {
      @include desktop {
        width: 50%;
      }
    }
  }
}
