@import "lib/common";

body#join {
  #content {
    .field {
      $labelWidth: 9em;
      $inputWidth: 12em;
      $checkUsernameAvailabilityWidth: 6em;

      margin-left: auto;
      margin-right: auto;

      width: $labelWidth + $inputWidth + $validationIconWidth + $checkUsernameAvailabilityWidth + $extraSpaceForInputPaddingAndBorder;

      @media screen and (max-width: 800px) {
        $labelWidth: 8em;
        $inputWidth: 9em;
        $checkUsernameAvailabilityWidth: 5em;

        width: $inputWidth + $validationIconWidth + $checkUsernameAvailabilityWidth + $extraSpaceForInputPaddingAndBorder;
      }

      > label {
        width: $labelWidth;
      }

      > input,
      > select {
        width: $inputWidth;

        @media screen and (max-width: 800px) {
          clear: both;
        }
      }

      #check-username-availability {
        display: block;
        float: left;

        width: $checkUsernameAvailabilityWidth;
      }
    }
  }
}
