@import "common";

#join {
  #content {
    .field {
      $checkUsernameAvailabilityWidth: 6em;

      @include desktop {
        width: $labelWidth + $inputWidth + $validationIconWidth + $checkUsernameAvailabilityWidth + $extraSpaceForInputPaddingAndBorder;
      }

      #check-username-availability {
        display: block;
        width: $checkUsernameAvailabilityWidth;
        clear: both;

        @include desktop {
          float: left;
          clear: none;
        }
      }
    }
  }
}
