@import "common";

#join {
  #content {
    $checkUsernameAvailabilityWidth: 6em;

    .field,
    fieldset {
      @include desktop {
        width: $labelWidth + $inputWidth + $checkUsernameAvailabilityWidth;
      }
    }

    #check-username-availability {
      display: block;
      width: $checkUsernameAvailabilityWidth;
      clear: both;

      @include desktop {
        float: left;
        clear: none;
      }
    }

    .valid {
      > #username {
        border-color: $btnSuccessBackground;
      }
    }
  }
}
