@import "common";

body#login {
  #content {
    $inputWidth: 12em;
    $extraSpaceForInputPaddingAndBorder: 1em;

    .field {
      width: $inputWidth + $extraSpaceForInputPaddingAndBorder;
      margin-left: auto;
      margin-right: auto;

      > input {
        width: $inputWidth;
      }
    }

    #auth-failed {
      @include prepareForAnimatedSlideDown();

      text-align: center;
    }

    #join {
      margin-left: auto;
      margin-right: auto;
      width: 10em;
    }
  }
}
