@import "lib/common";

body {
  font-size: medium;
  color: $fontDarkGrey;
}

h1 {
  font-size: 1.9em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 2em;
}

h2 {
  font-size: 1.6em;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: blue;

  &:hover {
    color: $red;
  }
}

li {
  list-style-type: none;
}

a,
span,
label {
  display: inline-block;  // For "width" declaration to work
}

#content {
  > h1 {
    display: none;

    @include desktop {
      display: block;
    }
  }
}

.indication {
  text-align: center;
  font-style: italic;
}

#rss-feed-wrapper {
  text-align: center;
}

#website-language-selection {
  text-align: center;
}

.action {
  margin: 3em 0;

  @include clearfix();

  @include desktop {
    margin: 10em 0;

    float: left;

    &.line {
      clear: both;
    }
  }
  text-align: center;
}

.profile-pic {
  max-width: 12em;
  max-height: 12em;
}


/* References */

.profile-pic-thumb {
  display: inline-block;
  max-width: 6em;
  max-height: 6em;
}

.creation-date {
  float: right;
}
