@import "lib/common";

// Base Element styles

body {
  font-size: $baseline;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 2em;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

a, a:visited {
  font-weight: bold;
  color: $red;

  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $orange;
  }
}

p {
  color: $fontDarkGrey;
  margin-bottom: 1em;
}

a, span, label {
  display: inline-block;  // For "width" declaration to work
}

#content {
  clear: both;
  width: 80%;
  margin: 0 auto;
}


// Navigation

$menuWidth: 70%;

#header-nav {
  > a {
    float: left;
    width: ((100 - $menuWidth) / 2);
  }

  > ul {
    float: left;
    width: $menuWidth;

    > li {
      width: (100% / 5);
      float: left;
      position: relative;

      > span {
        cursor: pointer;
      }

      > ul {
        position: absolute;
        background-color: white;
      }
    }
  }
}

.sub-nav {
  display: none;
}