@import "lib/common";

body {
  font-size: medium;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 2em;
}

h1 {
  font-size: 1.9em;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

a,
a:visited {
  color: $red;

  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $orange;
  }
}

p {
  color: $fontDarkGrey;
  margin-bottom: 1em;
}

li {
  list-style-type: none;
}

a,
span,
label {
  display: inline-block;  // For "width" declaration to work
}

#content {
  > h1 {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}

#rss-feed-wrapper {
  text-align: center;
}

#website-language-selection {
  text-align: center;
}

.actions {
  margin: 10em 0;

  > span {
    text-align: center;
  }
}