@import "lib/common";

body#register {
  #content {
    $labelWidth: 9em;
    $inputWidth: 12em;
    $checkUsernameAvailabilityWidth: 6em;

    .field {
      width: $labelWidth + $inputWidth + $validationIconWidth + $checkUsernameAvailabilityWidth + $extraSpaceForInputPaddingAndBorder;
      margin-left: auto;
      margin-right: auto;

      > label {
        width: $labelWidth;
      }

      > input,
      > select {
        width: $inputWidth;
      }
    }

    #check-username-availability {
      width: $checkUsernameAvailabilityWidth;
    }
  }
}
