@import "common";

html,
body {
  height: 100%;
}

#content {
  width: 100%;
  margin: 0 auto;

  // In some cases we don’t want the size to exceed a certain width on bigger screens to make sure the content is always readable
  max-width: 1024px;

  // When the page is full width we don’t want the content to be crammed to the edges of the screen so lets add some spacing on the sides
  padding-left: 1em;
  padding-right: 1em;

  @include box-sizing(border-box);
}

.lt-ie9 #content {
  width: 900px;
  padding-left: 30px;
  padding-right: 30px;
}

// Prevent blurry images
img {
  max-width: 100%;
}
