@import "common";

body#search-help-requests {
  #content {

    $searchButtonWidth: 4em;

    .centered {
      width: $fieldWidth + $searchButtonWidth;

      @include desktop {
        width: $fieldWidthDesktop + $searchButtonWidth;
      }

      margin-left: auto;
      margin-right: auto;

      @include clearfix();

      > * {
        float: left;
      }

      > span {
        width: $searchButtonWidth;
      }
    }

    #query {
      // -1em otherwise the <field> container is smaller than the input field
      width: $fieldWidth - 1;

      @include desktop {
        width: $fieldWidthDesktop - 1;
      }
    }

    // Search results
    table {
      max-width: 50em;

      margin-left: auto;
      margin-right: auto;
    }

    tr {
      cursor: pointer;

      &:first-child {
        cursor: default;
      }
    }

    td {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    .requester-username,
    .requester-city {
      display: block;
      text-align: center;
    }

    #search-returned-nothing {
      display: none;
      text-align: center;
    }
  }
}
