/* Image replacement */
/* Base Element styles  */
body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  webkit-font-smoothing: antialiased; }

/*
    Site Layout 
 
   The layout has a footer that always stays at the bottom of page.
         
   More information: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
   
*/
html {
  overflow-y: scroll;
  overflow-x: hidden; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

#container {
  min-height: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  margin: 0 auto -300px; }

#main {
  padding-bottom: 250px;
  /* Height of the footer + some padding */
  overflow: hidden; }

/* Layout */
.wrapper {
  zoom: 1;
  position: relative;
  width: 940px;
  margin: 0 auto; }
  .wrapper:before, .wrapper:after {
    content: "";
    display: table; }
  .wrapper:after {
    clear: both; }

#form-wrapper {
  background: #f0efe8;
  -moz-box-shadow: 0px 1px 1px #777777;
  -o-box-shadow: 0px 1px 1px #777777;
  -webkit-box-shadow: 0px 1px 1px #777777;
  box-shadow: 0px 1px 1px #777777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 780px;
  padding: 50px 80px 60px 80px; }

/* Base Element styles */
h1, h2, h3, h4, h5 {
  display: block;
  margin: 0 0 20px 0; }

h1 {
  font-size: 30px;
  font-weight: normal; }

h2 {
  font-size: 18px;
  font-weight: bold; }

h3 {
  font-size: 15px;
  font-weight: bold; }

a,
a:visited {
  font-weight: bold;
  color: #be2d07;
  cursor: pointer;
  text-decoration: none; }

a:hover {
  color: #f18a26; }

em {
  display: inline-block; }

p, em {
  margin: 0 0 15px 0; }

p {
  color: #333; }

/* Layout */
ul {
  list-style-type: none; }

.row {
  margin-bottom: 40px; }

/* Forms  */
.form-title > p {
  font-size: 16px; }
.form-title > em {
  font-weight: bold;
  float: right; }

form,
fieldset,
label {
  display: block; }

form {
  /* Input Error states */
  /* Input Focus state */
  /* Error message */
  /* Dropdown */
  /* Selected */
  /* Open state */
  /* Fieldset classes */
  /* Fields */
  /* Fieldset styles */ }
  form label {
    color: #3f3f3f;
    font-size: 14px;
    margin-bottom: 3px; }
  form em span {
    font-weight: bold; }
  form label span,
  form em span {
    color: #be2d07; }
  form em.required-label {
    font-weight: bold;
    float: right;
    margin-top: 2px; }
  form input[type=text],
  form input[type=password],
  form textarea,
  form .dropdown-button,
  form .dropdown-list li {
    display: block;
    color: #717171;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
    outline: 0; }
  form input[type=text],
  form input[type=password],
  form textarea,
  form .dropdown-list li {
    width: 344px;
    padding: 9px 15px;
    border: 1px solid #dddddd; }
  form input[type=text],
  form input[type=password],
  form textarea {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 5px 10px #f5f4ec inset;
    -o-box-shadow: 0 5px 10px #f5f4ec inset;
    -webkit-box-shadow: 0 5px 10px #f5f4ec inset;
    box-shadow: 0 5px 10px #f5f4ec inset; }
  form .error input[type=text] {
    border-color: #BE2E08; }
  form input[type=text]:focus,
  form input[type=password]:focus,
  form textarea:focus {
    border-color: #f18a26; }
  form .error-message {
    display: block;
    height: 12px;
    text-align: right;
    color: #be2d07;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 2px 2px 0 0; }
  form .dropdown {
    position: relative; }
  form .dropdown-button {
    width: 346px;
    padding: 12px 15px;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer; }
  form .dropdown-button span,
  form .dropdown-list li span {
    color: #999; }
  form .dropdown-list {
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 3; }
  form .dropdown-list li {
    padding: 11px 15px;
    background-color: white;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-bottom: none;
    cursor: pointer; }
  form .dropdown-list li.first {
    display: none; }
  form .dropdown-list li.last {
    border-bottom: 1px solid #EDECE8; }
  form .dropdown-list li.selected span,
  form .dropdown-list li:hover span {
    color: #f18a26; }
  form .open .dropdown-button {
    padding: 11px 14px;
    background-color: white;
    border: 1px solid #dddddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  form fieldset label:hover {
    cursor: default; }
  form .field-column {
    width: 378px;
    float: left; }
  form .field-column-first {
    padding-right: 24px; }
  form .field {
    clear: both;
    margin-bottom: 10px; }
  form .field-group {
    display: inline-block;
    padding: 20px 0px 10px 16px;
    border: 1px solid #dddddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  form .field-note {
    display: inline-block;
    float: right;
    font-size: 14px;
    padding-top: 8px; }
  form .field-inline {
    display: inline-block;
    float: left; }
  form .field-checkbox {
    display: block;
    padding-bottom: 10px;
    float: left; }
  form .field.dropdown > label:hover {
    cursor: default; }
  form div.field-group > div.field-checkbox {
    width: 180px; }
  form div.field-group > div.field-checkbox label {
    width: 150px; }
  form .field-checkbox span {
    float: left; }
  form .field-checkbox label {
    display: block;
    position: relative;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-left: 30px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #717171; }
  form .field-buttons,
  form .field-error {
    clear: both;
    text-align: center; }
  form .field-buttons input,
  form input[type=submit] {
    float: right; }
  form .form-title {
    padding-bottom: 20px; }
    form .form-title p {
      display: block;
      width: 450px; }

/* Form Success */
.field-success {
  clear: both;
  display: none; }
  .field-success > p {
    font-size: 16px; }

/* Form Error */
.field-error {
  display: none;
  margin-bottom: 30px;
  padding: 0 20px;
  border: 1px solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .field-error p {
    margin: 0;
    padding: 20px 0 20px 30px;
    color: #3f3f3f;
    font-size: 16px;
    text-align: left; }

/* Header */
header {
  display: block;
  margin-bottom: 39px;
  background: #f0efe8;
  border-bottom: 1px solid #dddddd;
  /* Logo */
  /* Navigation */ }
  header .wrapper {
    zoom: 1;
    height: 130px; }
    header .wrapper:before, header .wrapper:after {
      content: "";
      display: table; }
    header .wrapper:after {
      clear: both; }
  header #logo {
    position: absolute;
    left: 0;
    bottom: 19px; }
  header #nav {
    zoom: 1;
    position: absolute;
    right: 0;
    bottom: -1px;
    display: inline-block; }
    header #nav:before, header #nav:after {
      content: "";
      display: table; }
    header #nav:after {
      clear: both; }
    header #nav li {
      display: block;
      float: left; }
    header #nav .active a {
      color: #3f3f3f; }

/* Footer */
footer {
  /* Keep at the bottom */
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: #f0efe8;
  border-top: 1px solid #dddddd; }
  footer .wrapper {
    padding-top: 30px; }
  footer #footer-nav {
    display: inline-block; }
    footer #footer-nav li {
      display: block;
      float: left; }
    footer #footer-nav .active a {
      color: #3f3f3f; }
    footer #footer-nav > li {
      padding-right: 30px; }
      footer #footer-nav > li > a {
        font-size: 14px; }
    footer #footer-nav > li.active > a:hover {
      cursor: default; }
  footer #footer-info {
    float: right; }
    footer #footer-info #footer-logo {
      float: right;
      margin-bottom: 15px; }
    footer #footer-info .copyright {
      clear: both;
      display: block;
      font-size: 12px;
      font-style: italic; }
