/* Image replacement */
/* Intro */
#intro {
  margin-bottom: 55px;
  background: #f0efe8;
  -moz-box-shadow: 0px 1px 1px #777777;
  -o-box-shadow: 0px 1px 1px #777777;
  -webkit-box-shadow: 0px 1px 1px #777777;
  box-shadow: 0px 1px 1px #777777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  zoom: 1; }
  #intro:before, #intro:after {
    content: "";
    display: table; }
  #intro:after {
    clear: both; }
  #intro > #intro-copy {
    padding: 50px 0 37px 45px;
    width: 370px;
    float: left; }
    #intro > #intro-copy > #home-heading {
      margin-top: 10px; }
    #intro > #intro-copy p {
      display: block;
      color: #3f3f3f; }
    #intro > #intro-copy p#intro-main-text {
      font-size: 16px;
      margin-bottom: 25px; }
    #intro > #intro-copy p#intro-sub-text {
      font-size: 12px;
      font-style: italic;
      margin: 15px 0 0; }
  #intro .no-js #intro-features {
    display: none; }
  #intro > #intro-features {
    display: block;
    position: absolute;
    left: 459px;
    top: 45px;
    z-index: 1;
    zoom: 1; }
    #intro > #intro-features > #intro-features-wrapper {
      position: relative;
      zoom: 1;
      zoom: 1; }
      #intro > #intro-features > #intro-features-wrapper:before, #intro > #intro-features > #intro-features-wrapper:after {
        content: "";
        display: table; }
      #intro > #intro-features > #intro-features-wrapper:after {
        clear: both; }
      #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper {
        position: relative;
        width: 388px;
        margin: 20px 0px 0 22px;
        overflow: hidden;
        zoom: 1; }
        #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul {
          zoom: 1;
          zoom: 1; }
          #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul:before, #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul:after {
            content: "";
            display: table; }
          #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul:after {
            clear: both; }
          #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul > li {
            display: block;
            position: relative;
            float: left;
            width: 388px;
            height: 278px;
            zoom: 1; }
            #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul > li > .feature-info {
              zoom: 1;
              display: block;
              position: absolute;
              width: 368px;
              top: 185px;
              left: 10px; }
              #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul > li > .feature-info:before, #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul > li > .feature-info:after {
                content: "";
                display: table; }
              #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul > li > .feature-info:after {
                clear: both; }
              #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul > li > .feature-info h2 {
                font-size: 18px;
                margin-bottom: 10px; }
              #intro > #intro-features > #intro-features-wrapper > #intro-slider-wrapper > ul > li > .feature-info p {
                font-size: 13px;
                margin-bottom: 12px; }
    #intro > #intro-features .btn-slider-prev,
    #intro > #intro-features .btn-slider-next {
      position: absolute;
      top: 90px;
      z-index: 2; }
    #intro > #intro-features .btn-slider-prev {
      left: -16px; }
    #intro > #intro-features .btn-slider-next {
      right: -17px; }
    #intro > #intro-features #bullet-list-wrapper {
      text-align: center; }
      #intro > #intro-features #bullet-list-wrapper .bullet-list {
        display: inline-block;
        margin: 0 auto;
        zoom: 1; }
        #intro > #intro-features #bullet-list-wrapper .bullet-list li {
          float: left;
          margin: 0 10px;
          zoom: 1; }

.ie8 #intro {
  border: 1px solid #dddddd; }

/* About Appear IQ */
#about-appear-iq {
  margin-bottom: 50px; }
  #about-appear-iq > h1 {
    margin-bottom: 5px; }
  #about-appear-iq > p {
    font-size: 16px; }

/* Benefits */
#benefits-list {
  display: block;
  zoom: 1; }
  #benefits-list:before, #benefits-list:after {
    content: "";
    display: table; }
  #benefits-list:after {
    clear: both; }
  #benefits-list > li {
    display: block;
    float: left;
    width: 294px; }
    #benefits-list > li h2 {
      letter-spacing: -1px; }
    #benefits-list > li img {
      display: inline-block;
      margin-left: 10px;
      /* border: 1px solid #ccc; */
      float: right; }
    #benefits-list > li > .more {
      display: none;
      zoom: 1; }
      #benefits-list > li > .more:before, #benefits-list > li > .more:after {
        content: "";
        display: table; }
      #benefits-list > li > .more:after {
        clear: both; }
    #benefits-list > li .link-more {
      display: inline-block; }
  #benefits-list > li.first {
    margin-right: 29px; }
  #benefits-list > li.last {
    margin-left: 29px; }
