/*
Syntax error: File to import not found or unreadable: ../lib/common.
              Load paths:
                E:/Pro/the-solidarity-network/website/public/css/scss
                E:/Pro/the-solidarity-network/website/public/css/scss
        on line 2 of ./skeleton.scss

1: 
2: @import "../lib/common";
3: 
4: header {
5: 	
6: 	#user-info {
7: 		position: absolute;

Backtrace:
./skeleton.scss:2
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/import_node.rb:64:in `rescue in import'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/import_node.rb:42:in `import'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/import_node.rb:25:in `imported_file'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/base.rb:37:in `visit'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:18:in `visit'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/base.rb:53:in `map'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/base.rb:37:in `visit'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:18:in `visit'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/tree/root_node.rb:20:in `render'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/engine.rb:293:in `_render'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/engine.rb:240:in `render'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/plugin/compiler.rb:175:in `each'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/plugin/compiler.rb:173:in `each'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/plugin/compiler.rb:214:in `watch'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/plugin.rb:111:in `method_missing'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/exec.rb:421:in `watch_or_update'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/exec.rb:302:in `process_result'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/exec.rb:41:in `parse'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/lib/sass/exec.rb:21:in `parse!'
e:/ProgramFiles/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.8/bin/sass:8:in `<top (required)>'
e:/ProgramFiles/Ruby192/bin/sass:19:in `load'
e:/ProgramFiles/Ruby192/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: ../lib/common.\A               Load paths:\A                 E:/Pro/the-solidarity-network/website/public/css/scss\A                 E:/Pro/the-solidarity-network/website/public/css/scss\A         on line 2 of ./skeleton.scss\A \A 1: \A 2: @import \"../lib/common\";\A 3: \A 4: header {\A 5: 	\A 6: 	#user-info {\A 7: 		position: absolute;"; }
