body#edit-profile #content .indication {
  display: none; }
body#edit-profile #content > ul {
  zoom: 1; }
  body#edit-profile #content > ul:before, body#edit-profile #content > ul:after {
    content: "";
    display: table; }
  body#edit-profile #content > ul:after {
    clear: both; }
  body#edit-profile #content > ul > li {
    float: left; }
body#edit-profile #content #account-info {
  display: none; }
body#edit-profile #content #email-confirmation-field {
  display: none; }
