form .field,
form fieldset {
  clear: both;
  zoom: 1; }
  form .field:before, form .field:after,
  form fieldset:before,
  form fieldset:after {
    content: "";
    display: table; }
  form .field:after,
  form fieldset:after {
    clear: both; }
form .field {
  margin-bottom: 0.5em; }
  form .field > label,
  form .field > input,
  form .field > select,
  form .field > textarea,
  form .field > span {
    display: block;
    float: left; }
  form .field > ul {
    zoom: 1;
    display: block;
    float: left; }
    form .field > ul:before, form .field > ul:after {
      content: "";
      display: table; }
    form .field > ul:after {
      clear: both; }
    form .field > ul > li {
      display: block;
      float: left; }
      form .field > ul > li.active {
        font-weight: bold; }
  form .field > .field-error {
    clear: both; }
form .validation-icon {
  width: 1em;
  height: 1em;
  background-size: 1em 1em; }
form .valid > .validation-icon {
  background-image: url("/assets/images/valid.png"); }
form .invalid > .validation-icon {
  background-image: url("/assets/images/invalid.png"); }
form .field-error {
  font-style: italic;
  font-size: small;
  color: #be2d07; }
form input[type=submit] {
  display: block;
  visibility: hidden; }

#submit-button-wrapper {
  text-align: center;
  margin-top: 2em; }
  #submit-button-wrapper > input[type=submit] {
    display: block; }
