#index #content li {
  *zoom: 1;
  margin-bottom: 1.5em; }
  #index #content li:before, #index #content li:after {
    content: " ";
    display: table; }
  #index #content li:after {
    clear: both; }
  #index #content li > h2 {
    font-size: 22px;
    text-align: left; }
    @media screen and (min-width: 49em) {
      #index #content li > h2 {
        font-size: 31.5px; } }
  #index #content li > p {
    margin-bottom: 0.5em; }
@media screen and (min-width: 49em) {
  #index #content .action {
    width: 50%; } }
