@media screen and (min-width: 49em) {
  #join #content .field,
  #join #content fieldset {
    width: 35em; } }
#join #content #check-username-availability {
  display: block;
  width: 6em;
  clear: both; }
  @media screen and (min-width: 49em) {
    #join #content #check-username-availability {
      float: left;
      clear: none; } }
#join #content .valid > #username {
  border-color: #62c462; }
