body#login #content .field {
  width: 13em;
  margin-left: auto;
  margin-right: auto; }
  body#login #content .field > input {
    width: 12em; }
body#login #content #auth-failed {
  display: none;
  text-align: center; }
body#login #content #join {
  margin-left: auto;
  margin-right: auto;
  width: 10em; }
