html {
  overflow-y: scroll; }

h1,
h2 {
  text-align: center;
  font-weight: normal; }

h1 {
  margin-bottom: 2em; }

p,
ul {
  margin: 0;
  padding: 0; }

img {
  display: block; }

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: blue; }

li {
  list-style-type: none; }

a,
span,
label {
  display: inline-block; }

textarea {
  resize: vertical;
  height: 8em; }

#content > h1 {
  display: none; }
  @media screen and (min-width: 49em) {
    #content > h1 {
      display: block; } }

.clickable {
  cursor: pointer; }

.indication {
  text-align: center;
  font-style: italic; }

#rss-feed-wrapper {
  text-align: center; }

#website-language-selection {
  text-align: center; }

.action {
  margin-bottom: 3em;
  text-align: center; }
  @media screen and (min-width: 49em) {
    .action {
      margin-bottom: 5em;
      float: left; }
      .action.line {
        clear: both; } }

/* Tables and lists */
#mobile-list .profile-pic-thumb,
#desktop-list .profile-pic-thumb {
  margin: auto; }
#mobile-list .username,
#mobile-list .user-city,
#desktop-list .username,
#desktop-list .user-city {
  text-align: center; }

#mobile-list > .clickable {
  *zoom: 1; }
  #mobile-list > .clickable:before, #mobile-list > .clickable:after {
    content: " ";
    display: table; }
  #mobile-list > .clickable:after {
    clear: both; }
  #mobile-list > .clickable > div {
    float: left;
    width: 67%; }
    #mobile-list > .clickable > div:first-child {
      width: 33%; }

#desktop-list {
  display: none;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto; }
  #desktop-list td {
    padding-left: 0.5em;
    padding-right: 0.5em; }
    #desktop-list td.main-column {
      width: 100%; }
    #desktop-list td.date {
      text-align: center; }

@media screen and (min-width: 49em) {
  #mobile-list {
    display: none; }

  #desktop-list {
    display: block; } }
/* References */
.profile-pic-thumb {
  max-width: 6em;
  max-height: 6em; }
