/* Base Element styles  */
body {
  font-size: 13px; }

/* Base Element styles */
h1, h2, h3, h4, h5 {
  margin-bottom: 2em; }

h1 {
  font-size: 2em;
  font-weight: normal; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.3em; }

a, a:visited {
  font-weight: bold;
  color: #be2d07;
  cursor: pointer;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #f18a26; }

p {
  color: #3f3f3f;
  margin-bottom: 1em; }
