@media screen and (min-width: 49em) {
  #my-profile #content #profile-info {
    *zoom: 1; }
    #my-profile #content #profile-info:before, #my-profile #content #profile-info:after {
      content: " ";
      display: table; }
    #my-profile #content #profile-info:after {
      clear: both; }
  #my-profile #content .profile-pic,
  #my-profile #content #textual-info {
    float: left; }
  #my-profile #content .profile-pic {
    margin-right: 1em; } }
