body#register #content .field {
  width: 29em;
  margin-left: auto;
  margin-right: auto; }
  body#register #content .field > label {
    width: 9em; }
  body#register #content .field > input,
  body#register #content .field > select {
    width: 12em; }
body#register #content #check-username-availability {
  width: 6em; }
