#search-help-requests #content .centered {
  width: 20em;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 49em) {
    #search-help-requests #content .centered {
      width: 36em;
      *zoom: 1; }
      #search-help-requests #content .centered:before, #search-help-requests #content .centered:after {
        content: " ";
        display: table; }
      #search-help-requests #content .centered:after {
        clear: both; }
      #search-help-requests #content .centered > * {
        float: left; } }
  #search-help-requests #content .centered > span {
    width: 7em; }
@media screen and (min-width: 49em) {
  #search-help-requests #content #query {
    width: 29em; } }
#search-help-requests #content .search-result {
  cursor: pointer; }
#search-help-requests #content .floated-wrapper {
  *zoom: 1; }
  #search-help-requests #content .floated-wrapper:before, #search-help-requests #content .floated-wrapper:after {
    content: " ";
    display: table; }
  #search-help-requests #content .floated-wrapper:after {
    clear: both; }
  #search-help-requests #content .floated-wrapper > * {
    float: left; }
  #search-help-requests #content .floated-wrapper > .dates {
    float: right; }
  #search-help-requests #content .floated-wrapper label {
    width: 5em; }
#search-help-requests #content #desktop-results {
  display: none;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto; }
  #search-help-requests #content #desktop-results td {
    padding-left: 0.5em;
    padding-right: 0.5em; }
@media screen and (min-width: 49em) {
  #search-help-requests #content #mobile-results {
    display: none; }
  #search-help-requests #content #desktop-results {
    display: block; } }
#search-help-requests #content .requester-username,
#search-help-requests #content .requester-city {
  text-align: center; }
#search-help-requests #content #search-returned-nothing {
  display: none;
  text-align: center; }
