body#search-help-requests #content .centered {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }
  body#search-help-requests #content .centered:before, body#search-help-requests #content .centered:after {
    content: "";
    display: table; }
  body#search-help-requests #content .centered:after {
    clear: both; }
body#search-help-requests #content .field {
  float: left; }
body#search-help-requests #content #query {
  width: 25em; }
body#search-help-requests #content #search-button {
  float: left;
  width: 4em; }
body#search-help-requests #content table {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto; }
body#search-help-requests #content tr {
  cursor: pointer; }
  body#search-help-requests #content tr:first-child {
    cursor: default; }
body#search-help-requests #content td {
  padding-left: 0.5em;
  padding-right: 0.5em; }
body#search-help-requests #content .requester-username,
body#search-help-requests #content .requester-city {
  display: block;
  text-align: center; }
body#search-help-requests #content #search-returned-nothing {
  display: none;
  text-align: center; }
