#view-help-request #content #help-request {
  *zoom: 1; }
  #view-help-request #content #help-request:before, #view-help-request #content #help-request:after {
    content: " ";
    display: table; }
  #view-help-request #content #help-request:after {
    clear: both; }
  #view-help-request #content #help-request > div {
    float: left;
    width: 50%;
    text-align: center; }
#view-help-request #content #reply-form,
#view-help-request #content #reference-form {
  display: none; }
#view-help-request #content #requester > div,
#view-help-request #content #main > div {
  text-align: center; }
@media screen and (min-width: 49em) {
  #view-help-request #content #requester,
  #view-help-request #content #main {
    float: left; } }
@media screen and (min-width: 49em) {
  #view-help-request #content #requester {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 9em;
    padding-right: 1em;
    width: 35%; } }
#view-help-request #content #requester > p {
  text-align: center; }
#view-help-request #content #requester > img {
  margin: auto;
  max-width: 11em;
  max-height: 11em; }
#view-help-request #content #main {
  max-width: 25em;
  margin: auto; }
  @media screen and (min-width: 49em) {
    #view-help-request #content #main {
      max-width: 65%;
      margin: 0; } }
#view-help-request #content textarea {
  width: 20em; }
  @media screen and (min-width: 49em) {
    #view-help-request #content textarea {
      width: 29em; } }
#view-help-request #content #replies > article {
  *zoom: 1;
  margin-bottom: 1em; }
  #view-help-request #content #replies > article:before, #view-help-request #content #replies > article:after {
    content: " ";
    display: table; }
  #view-help-request #content #replies > article:after {
    clear: both; }
#view-help-request #content #replies img {
  float: left;
  max-width: 4em;
  max-height: 4em; }
#view-help-request #content .modal.fade.in {
  top: 40%; }
#view-help-request #content #submit-reply-wrapper {
  text-align: center; }
