@(user: models.frontend.FrontendUser, unreadMessagesCount: Int, recipient: Option[String])
@main("Write a message", "create-message") {
<!--
    Header
-->
@nav(Some(user), Some("Write a message"), unreadMessagesCount)

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <h1>Write a message</h1>

    <form>
        <div class="field">
            <label for="recipient">To <span>*</span></label><!--
         --><input id="recipient" type="hidden"

            @if(recipient.isDefined) {
              value="@recipient.get"
            }
                />

            <p class="field-error" data-check="empty" id="error-msg-empty-recipient">Who are you writing to?</p>
        </div>

        <div class="field">
            <label for="title">Title</label><!--
         --><input id="title" type="text"/>
        </div>

        <div class="field">
            <label for="text">Message <span>*</span></label><!--
         --><textarea id="text"></textarea>

            <p class="field-error" data-check="empty" id="error-msg-empty-text">;)</p>
        </div>

        <div class="submit-wrapper">
            <input type="submit" class="btn btn-primary btn-large" value="Send" />

            <div class="progress progress-striped active button-progress large">
                <div class="bar" style="width: 100%;">Sending</div>
            </div>
        </div>
    </form>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.CreateMessage({
            el: "#content"
        }).run();
    });
</script>
}