@(user: models.frontend.FrontendUser, unreadMessagesCount: Int, countries: List[models.Country])
@main("Edit profile and account", "edit-profile") {
<!--
    Header
-->
@nav(Some(user), Some("Edit profile and account"), unreadMessagesCount)

} {
<!--
    Content
-->
<h1>Edit profile and account</h1>

<p class="indication">Saved! <a href="/my-profile">View my profile</a></p>

<ul class="nav nav-tabs">
    <li class="active">
        <a id="show-profile-info">My profile</a>
    </li>
    <li>
        <a id="show-account-info">My account</a>
    </li>
</ul>

} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <form>
        <section id="profile-info">
            <h2>Main information</h2>

            <div class="field">
                <label for="first-name">First name <span>*</span></label><!--
             --><input id="first-name" type="text"/>

                <p class="field-error" data-check="empty">You need to indicate your first name...</p>
            </div>

            <div class="field">
                <label for="last-name">Last name <span>*</span></label><!--
             --><input id="last-name" type="text"/>

                <p class="field-error" data-check="empty">You need to indicate your last name...</p>
            </div>

            <fieldset>
                <div class="field">
                    <label for="street-address">Street address</label><!--
                 --><input id="street-address" type="text"/>
                </div>

                <div class="field">
                    <label for="post-code">Post code</label><!--
                 --><input id="post-code" type="text"/>
                </div>

                <div class="field">
                    <label for="city">City <span>*</span></label><!--
                 --><input id="city" type="text"/>

                    <p class="field-error" data-check="empty">Please indicate your city. Otherwise, we wouldn't know
                        which other users live nearby.</p>
                </div>

                <div class="field">
                    <label for="country">Country <span>*</span></label><!--
                 --><select id="country" data-placeholder="Select">
                        <option value=""></option>
                        {{#countries}}
                        <option value="{{id}}">{{name}}</option>
                        {{/countries}}
                    </select>

                    <p class="field-error" data-check="empty">Where exactly is your city located?</p>
                </div>
            </fieldset>


            <h2>Profile picture</h2>

            <div class="field">
                <img id="profile-pic" src="/files/profile-pic/{{user.id}}"/>
                <span>Got a better one?</span>
                <button id="change-profile-pic" data-action="/files/profile-pic" class="btn btn-search"><i class="icon-hand-right"></i>&nbsp;&nbsp;Browse</button>

                <span class="progress progress-striped active button-progress">
                    <div class="bar" style="width: 100%;">Uploading</div>
                </span>

                <p class="field-error" id="wrong-extension">Only .png, .jpg and .jpeg extensions are accepted. Please
                    select another image.</p>

                <p class="field-error" id="upload-failed">Error: could not save the image :(</p>
            </div>


            <h2>About me</h2>

            <div class="field">
                <label for="description">Description</label><!--
             --><textarea id="description" placeholder="Please write a few lines about yourself"></textarea>
            </div>

            <div class="field">
                <label for="skills-and-interests">Skills &amp; interests</label><!--
             --><textarea id="skills-and-interests" placeholder="How would you like to participate?"></textarea>
            </div>
        </section>


        <section id="account-info">
            <fieldset>
                <div class="field">
                    <label for="email">E-mail address <span>*</span></label><!--
                 --><input id="email" type="email"/>

                    <p class="field-error" data-check="empty">Please indicate your e-mail address. We'll use it to
                        inform you of user messages and help requests.</p>

                    <p class="field-error" data-check="email">Would you mind checking that e-mail address? Looks wrong
                        to me...</p>

                    <p class="field-error" id="email-already-registered">Someone else has registered with that e-mail.
                        Or it means that you have two accounts! It may be a bug.. in any case, input another e-mail to
                        continue, thanks!</p>
                </div>

                <div class="field" id="email-confirmation-field">
                    <label for="email-confirmation">Confirm e-mail <span>*</span></label><!--
                 --><input id="email-confirmation" type="email"/>

                    <p class="field-error" data-check="email">Would you mind checking that e-mail address? Looks wrong to
                        me...</p>

                    <p class="field-error" id="emails-do-not-match">The e-mails do not match!</p>
                </div>
            </fieldset>

            <div class="field">
                <label for="password">New password</label><!--
             --><input id="password" type="password"/>
            </div>


            <h2>Mailing-lists</h2>

            <div class="field">
                <article class="check-or-radio">
                    <div><input type="checkbox" id="is-subscribed-to-new-help-requests"></div>
                    <div><label>Be informed of new help requests near me</label></div>
                </article>
            </div>

            <fieldset id="new-help-requests-frequencies">
                <div class="field">
                    <article class="check-or-radio">
                        <div><input type="radio" name="new-help-requests-frequency" value="EACH_NEW_REQUEST"/></div>
                        <div><label>Receive an e-mail per new request</label></div>
                    </article>
                </div>

                <div class="field">
                    <article class="check-or-radio">
                        <div><input type="radio" name="new-help-requests-frequency" value="DAILY"/></div>
                        <div><label>An email with the day's new requests</label></div>
                    </article>
                </div>

                <div class="field">
                    <article class="check-or-radio">
                        <div><input type="radio" name="new-help-requests-frequency" value="WEEKLY"/></div>
                        <div><label>An email with the week's new requests</label></div>
                    </article>
                </div>
            </fieldset>

            <div class="field">
                <article class="check-or-radio">
                    <div><input type="checkbox" id="is-subscribed-to-news"></div>
                    <div><label>Be informed of The Help Network's news</label></div>
                </article>
            </div>

            <div class="field">
                <label for="language">Display the website in:</label>
                <select id="language">
                    <option value="en">English</option>
                    <option value="fr">Fran&ccedil;ais</option>
                </select>
            </div>
        </section>

        <div class="submit-wrapper">
            <input type="submit" class="btn btn-primary btn-large" value="Save" />

            <div class="progress progress-striped active button-progress large">
                <div class="bar" style="width: 100%;">Saving</div>
            </div>
        </div>
    </form>
</script>

<script type="text/javascript">
    window.addEvent("domready",function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.EditProfile({
            el: "#content",
            countries: @Html(services.JsonUtil.serialize(countries)),
            user: @Html(services.JsonUtil.serialize(user))
        }).run();
    });
</script>
}