@(user: models.User, helpRequest: models.frontend.FrontendHelpRequest)
@main("Edit a help request", "edit-help-request") {
<!--
    Header
-->
@nav(Some(user), Some("Edit a help request"))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <h1>Edit a help request</h1>

    <form>
        <div class="field">
            <label for="title">Title <span>*</span></label><!--
         --><input id="title" type="text"/>

            <p class="field-error" data-check="empty">Your request needs a title.</p>
        </div>

        <div class="field">
            <label for="description">Description <span>*</span></label><!--
         --><textarea id="description"></textarea>

            <p class="field-error" data-check="empty">Please describe how people can help you.</p>
        </div>

        <div class="field">
            <label for="expiry-date">Expiry date <span>*</span></label><!--
         --><input id="expiry-date" type="text" placeholder="yyyy-mm-dd"/>

            <p class="field-error" data-check="empty">In order to avoid obsolete requests, an expiry date must be
                set.</p>

            <p class="field-error" data-check="in-future">Your help request would already be expired... please select a
                date in the future.</p>

            <p class="field-error" data-check="in-max-2-weeks">In order to avoid obsolete requests, the maximum expiry
                date is two weeks.<br/>
                If nobody was able to help you after two weeks, feel free to submit a new request.</p>
        </div>

        <input type="submit" />

        <div id="submit-button-wrapper">
            <a id="save-button">Save</a>
        </div>
    </form>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.EditHelpRequest({
            el: "#content",
            helpRequest: @Html(services.JsonUtil.serialize(helpRequest))
        }).run();
    });
</script>
}