@(countries: List[models.Country], user: models.User, frontentUser: models.frontend.FrontendUser)
@main("Edit profile and account", "edit-profile") {
<!--
    Header
-->
@nav(Some(user), Some("Edit profile and account"))

} {
<!--
    Content
-->
<h1>Edit profile and account</h1>

<p class="indication">Saved!</p>

<ul>
    <li>
        <a id="show-profile-info">My profile</a>
    </li>
    <li>
        <a id="show-account-info">My account</a>
    </li>
</ul>

} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <form>
        <section id="profile-info">
            <h2>Main information</h2>

            <div class="field">
                <label for="first-name">First name <span>*</span></label><!--
             --><input id="first-name" type="text"/><!--
             --><span class="validation-icon"></span>

                <p class="field-error" data-check="empty">You need to indicate your first name...</p>
            </div>

            <div class="field">
                <label for="last-name">Last name <span>*</span></label><!--
             --><input id="last-name" type="text"/><!--
             --><span class="validation-icon"></span>

                <p class="field-error" data-check="empty">You need to indicate your last name...</p>
            </div>

            <fieldset>
                <div class="field">
                    <label for="street-address">Street address</label><!--
                 --><input id="street-address" type="text"/>
                </div>

                <div class="field">
                    <label for="post-code">Post code</label><!--
                 --><input id="post-code" type="text"/>
                </div>

                <div class="field">
                    <label for="city">City <span>*</span></label><!--
                 --><input id="city" type="text"/><!--
                 --><span class="validation-icon"></span>

                    <p class="field-error" data-check="empty">Please indicate your city. Otherwise, we wouldn't know
                        which other users live nearby.</p>
                </div>

                <div class="field">
                    <label for="country">Country <span>*</span></label><!--
                 --><select id="country">
                        <option value=""></option>
                        {{#countries}}
                        <option value="{{id}}">{{name}}</option>
                        {{/countries}}
                    </select><!--
                 --><span class="validation-icon"></span>

                    <p class="field-error" data-check="empty">Where exactly is your city located?</p>
                </div>
            </fieldset>


            <h2>Profile picture</h2>

            <div class="field">
                <img id="profile-pic" src="/files/profile-pic/{{user.id}}"/>
                <span>Got a better one?</span>
                <a id="change-profile-pic" data-action="/files/profile-pic">Browse</a>

                <p class="field-error" id="wrong-extension">Only .png, .jpg and .jpeg extensions are accepted. Please
                    select another image.</p>

                <p class="field-error" id="upload-failed">Error: could not save the image :(</p>
            </div>


            <h2>Description</h2>

            <div class="field">
                <label for="description">Description</label><!--
             --><textarea id="description" placeholder="Please write a few lines about yourself"></textarea>
            </div>
        </section>


        <section id="account-info">
            <fieldset>
                <div class="field">
                    <label for="email">E-mail address <span>*</span></label><!--
                 --><input id="email" type="text"/><!--
                 --><span class="validation-icon"></span>

                    <p class="field-error" data-check="empty">Please indicate your e-mail address. We'll use it to
                        inform you of user messages and help requests.</p>

                    <p class="field-error" data-check="email">Would you mind checking that e-mail address? Looks wrong
                        to me...</p>

                    <p class="field-error" id="email-already-registered">Someone else has registered with that e-mail.
                        Or it means that you have two accounts! It may be a bug.. in any case, input another e-mail to
                        continue, thanks!</p>
                </div>

                <div class="field" id="email-confirmation-field">
                    <label for="email-confirmation">Confirm e-mail <span>*</span></label><!--
                 --><input id="email-confirmation" type="text"/><!--
                 --><span class="validation-icon"></span>

                    <p class="field-error" data-check="email">Would you mind checking that e-mail address? Looks wrong to
                        me...</p>

                    <p class="field-error" id="emails-do-not-match">The e-mails do not match!</p>
                </div>
            </fieldset>

            <div class="field">
                <label for="password">New password</label><!--
             --><input id="password" type="password"/><!--
             --><span class="validation-icon"></span>
            </div>


            <h2>Mailing-lists</h2>

            <div class="field check-or-radio">
                <input type="checkbox" id="is-registering-to-new-help-requests"><!--
             --><span>Be informed of new help requests near me</span>
            </div>

            <fieldset id="new-help-requests-frequencies">
                <div class="field check-or-radio">
                    <input type="radio" name="new-help-requests-frequency" value="one-email-per-request"/><!--
                 --><span>Receive an e-mail per new request</span>
                </div>

                <div class="field check-or-radio">
                    <input type="radio" name="new-help-requests-frequency" value="one-email-per-day"/><!--
                 --><span>An email with the day's new requests</span>
                </div>

                <div class="field check-or-radio">
                    <input type="radio" name="new-help-requests-frequency" value="one-email-per-week"/><!--
                 --><span>An email with the week's new requests</span>
                </div>
            </fieldset>

            <div class="field check-or-radio">
                <input type="checkbox" id="is-registering-to-news"><!--
             --><span>Be informed of The Help Network's news</span>
            </div>

            <div class="field">
                <label for="language">Display the website in:</label>
                <select id="language">
                    <option value="en">English</option>
                    <option value="fr">Fran&ccedil;ais</option>
                </select>
            </div>
        </section>


        <div id="submit-button-wrapper">
            <a id="save-button">
                <span>Save</span>
            </a>

            <input type="submit"/>
        </div>
    </form>
</script>

<script type="text/javascript">
    window.addEvent("domready",function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.EditProfile({
            el: "#content",
            countries: @Html(services.JsonUtil.serialize(countries)),
            user: @Html(services.JsonUtil.serialize(frontentUser))
        }).run();
    });
</script>
}