<div>
    <table>
        <tr>
            <th><a href="/">Home</a></th>
            <th><a href="/enquire">Enquiries</a></th>
            <th><a href="/login">Login</a></th>
        </tr>
        <tr>
            <td><a href="/compatibility">Compatibility</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/technical-info">Technical info</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/pricing">Pricing</a></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <span>Copyright &copy; Appear Networks 2012. All rights reserved.</span>
</div>