@(user: User)
@main("Solidarity Network - Help dashboard", "help-dashboard") {
<!--
    Header
-->
@nav(Some(user))

} {
<!--
    Content
-->
<h1>Help dashboard</h1>

<div class="actions">
    <a href="/help-requests/new">Submit a help request</a><a href="/help-requests">Search help requests</a>
</div>
<div class="actions">
    <a href="/help-requests?by=@user.username">My help requests</a><a href="/help-requests?respondedBy=@user.username">Help requests I responded to</a>
</div>

<a id="rss-feed">Help requests near me</a>
} {
<!--
    Javascript
-->

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();
    });
</script>}