@(user: models.User, frontentUser: models.frontend.FrontendUser, from: Option[String])
@main("Help dashboard", "help-dashboard") {
<!--
    Header
-->
@nav(Some(user), Some("Help dashboard"))

} {
<!--
    Content
-->
<h1>Help dashboard</h1>

@if(from.isDefined) {
<p class="indication">Help request deleted</p>
}

<div class="action line">
    <a href="/help-requests/new">Submit a help request</a>
</div>
<div class="action">
    <a href="/help-requests">Search help requests</a>
</div>

<div class="action line">
    <a href="/help-requests?username=@user.username">My help requests</a>
</div>
<div class="action">
    <a href="/help-requests?respondedBy=@user.username">Help requests I responded to</a>
</div>
} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <h2>Help requests near me</h2>

    <form>
        <div class="centered">
            <div class="field">
                <input id="query" type="search" placeholder="city, name, username, keyword..."/>

                <p class="field-error" data-check="search-keywords">Keywords are optional. Only "title", "desc",
                    "firstName", "lastName", "username", "city" and "country" are considered as keywords.</p>
            </div>

            <input type="submit" />

            <span>
                <button id="search" class="btn"><i class="icon-search"></i>&nbsp;&nbsp;Search</button>
            </span>
        </div>
    </form>

    <section id="search-results"></section>
    <p id="search-returned-nothing">Nothing found for this search</p>

    <div id="rss-feed-wrapper">
        <a id="rss-feed">Help requests near me</a>
    </div>
</script>

<script id="search-results-template" type="text/html">
    <ul id="mobile-list">
        {{#helpRequests}}
        <li class="clickable" data-id="{{id}}">
            <div>
                <img class="profile-pic-thumb" src="/files/profile-pic/{{requester.id}}" />

                <section>
                    <p class="username">{{requester.username}}</p>
                    <span class="first-name">{{requester.firstName}}</span>
                    <span class="last-name">{{requester.lastName}}</span>
                    <p class="user-city">{{requester.city}}</p>
                </section>
            </div>

            <div>
                <section class="dates">
                    <div>
                        <label>Submitted:</label>
                        <span>{{creationDatetime}}</span>
                    </div>
                    <div>
                        <label>Expires:</label>
                        <span>{{expiryDate}}</span>
                    </div>
                </section>

                <h3>{{title}}</h3>
            </div>
        </li>
        {{/helpRequests}}
    </ul>

    <table id="desktop-list">
        <th>By</th>
        <th>Title & description</th>
        <th>Submitted</th>
        <th>Expires</th>

        {{#helpRequests}}
        <tr class="clickable" data-id="{{id}}">
            <!-- By -->
            <td>
                <img class="profile-pic-thumb" src="/files/profile-pic/{{requester.id}}" />
                <p class="username">{{requester.username}}</p>
                <span class="first-name">{{requester.firstName}}</span>
                <span class="last-name">{{requester.lastName}}</span>
                <p class="user-city">{{requester.city}}</p>
            </td>

            <!-- Title & description -->
            <td class="main-column">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
            </td>

            <!-- Submitted -->
            <td class="date">
                <span>{{creationDatetime}}</span>
            </td>

            <!-- Expires -->
            <td class="date">
                <span>{{expiryDate}}</span>
            </td>
        </tr>
        {{/helpRequests}}
    </table>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.HelpDashboard({
            el: "#content",
            user: @Html(services.JsonUtil.serialize(frontentUser))
        }).run();
    });
</script>
}