@(user: User)
@main("Solidarity Network - Help dashboard", "helpDashboard") {
<!--
    Header
-->
@nav(user)

} {
<!--
    Content
-->

<div>
    <a href="/help-requests/new">Submit a help request</a>
    <a href="/help-requests">Search help requests</a>
    <a href="/help-requests?by=@user.username">My help requests</a>
    <a href="/help-requests?respondedBy=@user.username">Help requests I responded to</a>
</div>

<a>Subscribe to the RSS feed of help requests near me</a>

<div>
    <span>Display the website in:</span>
    <select>
        <option value="eng">English</option>
    </select>
</div>
} {
<!--
    Javascript
-->

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();
    });
</script>}