@(user: User)
@main("Solidarity Network - Home", "home") {
<!--
    Header
-->
@nav(Some(user))

} {
<!--
    Content
-->
<h1>Welcome back, @user.firstName!</h1>

<div class="actions">
    <span>
        <a href="/help">Help dashboard</a>
    </span><!--
 --><span>
        <a href="/my-profile">My profile</a>
    </span><!--
 --><span>
        <a href="/messages">Messages</a>
    </span>
</div>

<div id="website-language-selection">
    <label for="language-select">Display the website in:</label>
    <select id="language-select">
        <option value="eng">English</option>
    </select>
</div>
} {
<!--
    Javascript
-->

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();
    });
</script>
}