@(user: models.frontend.FrontendUser, unreadMessagesCount: Int)
@main("Solidarity Network", "home") {
<!--
    Header
-->
@nav(Some(user), Some("Welcome back, " + user.firstName + "!"), unreadMessagesCount)

} {
<!--
    Content
-->
<h1>Welcome back, @user.firstName!</h1>

<div class="action line">
    <a href="/help">Help dashboard</a>
</div>
<div class="action">
    <a href="/my-profile">My profile</a>
</div>
<div class="action">
    <a href="/messages">Messages</a>
</div>

<div id="website-language-selection">
    <label for="language-select">Display the website in:</label>
    <select id="language-select">
        <option value="eng">English</option>
    </select>
</div>
} {
<!--
    Javascript
-->

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        jQuery("select").select2({minimumResultsForSearch: 20});
    });
</script>
}