@(user: User)
@main("Solidarity Network - Home", "home") {
<!--
    Header
-->
@nav(user)

} {
<!--
    Content
-->

<p>Welcome back, @user.firstName!</p>
<div>
    <a href="/help">Help dashboard</a>
    <a href="/my-profile">My profile</a>
    <a href="/messages">Messages</a>
</div>

<a>Subscribe to the RSS feed of help requests near me</a>

<article id="website-language-selection">
    <label for="language-select">Display the website in:</label>
    <select id="language-select">
        <option value="eng">English</option>
    </select>
</article>
} {
<!--
    Javascript
-->

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();
    });
</script>}