@main("Solidarity Network", "index") {
<!--
    Header
-->
@nav(None, Some("The Solidarity Network"))

} {
<!--
    Content
-->
<h1>The Solidarity Network</h1>
<h2>To help others, directly</h2>

<div class="actions">
    <span>
        <a href="/join">Join</a>
    </span><!--
 --><span>
        <a href="/login">Login</a>
    </span>
</div>

} {
<!--
    Javascript
-->

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();
    });
</script>
}