@(i18n: collection.mutable.Map[String, String], countries: List[Country], languageCode: String)
@main("Solidarity Network - Join", "join") {
<!--
    Header
-->
@nav(None, Some(i18n("join.title")))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <h1>@i18n("join.title")</h1>

    <form>
        <div class="field">
            <label for="first-name">First name <span>*</span></label><!--
         --><input id="first-name" type="text"/><!--
         --><span class="validation-icon"></span>

            <p class="field-error" data-check="empty">You need to indicate your first name...</p>
        </div>

        <div class="field">
            <label for="last-name">Last name <span>*</span></label><!--
         --><input id="last-name" type="text"/><!--
         --><span class="validation-icon"></span>

            <p class="field-error" data-check="empty">You need to indicate your last name...</p>
        </div>

        <fieldset>
            <div class="field">
                <label for="email">E-mail address <span>*</span></label><!--
             --><input id="email" type="text"/><!--
             --><span class="validation-icon"></span>

                <p class="field-error" data-check="empty">Please indicate your e-mail address. We'll use it to inform you of
                    user messages and help requests.</p>

                <p class="field-error" data-check="email">Would you mind checking that e-mail address? Looks wrong to
                    me...</p>

                <p class="field-error" id="email-already-registered">This e-mail is already registered
                    in our system. You should try resetting your password on the Login page.</p>
            </div>

            <div class="field">
                <label for="email-confirmation">Confirm e-mail <span>*</span></label><!--
             --><input id="email-confirmation" type="text"/><!--
             --><span class="validation-icon"></span>

                <p class="field-error" data-check="empty">e-mails don't match!</p>

                <p class="field-error" id="emails-do-not-match">The e-mails do not match!</p>
            </div>
        </fieldset>

        <div class="field">
            <label for="username">Username <span>*</span></label><!--
         --><input id="username" type="text"/><!--
         --><span class="validation-icon"></span><!--
         --><a id="check-username-availability">Available?</a>

            <p class="field-error" data-check="empty">Please choose a username, it will identify you to other users.</p>

            <p class="field-error" data-check="username">Sorry, but only the following characters are allowed:
                <em>a-z</em>, <em>A-Z</em>, <em>0-9</em>, <em>-</em>, <em>_</em></p>

            <p class="field-error" id="username-taken">Sad news: this username is already taken :/
                Please try another one.</p>
        </div>

        <div class="field">
            <label for="password">Password <span>*</span></label><!--
         --><input id="password" type="password"/><!--
         --><span class="validation-icon"></span>

            <p class="field-error" data-check="empty">Hum... you'll need a password to login!</p>
        </div>

        <fieldset>
            <div class="field">
                <label for="street-address">Street address</label><!--
             --><input id="street-address" type="text"/>
            </div>

            <div class="field">
                <label for="post-code">Post code</label><!--
             --><input id="post-code" type="text"/>
            </div>

            <div class="field">
                <label for="city">City <span>*</span></label><!--
             --><input id="city" type="text"/><!--
             --><span class="validation-icon"></span>

                <p class="field-error" data-check="empty">Please indicate your city. Otherwise, we wouldn't know which
                    other users live nearby.</p>
            </div>

            <div class="field">
                <label for="country">Country <span>*</span></label><!--
             --><select id="country">
                <option value=""></option>
                {{#countries}}
                <option value="{{id}}">{{name}}</option>
                {{/countries}}
            </select><!--
             --><span class="validation-icon"></span>

                <p class="field-error" data-check="empty">Where exactly is your city located?</p>
            </div>
        </fieldset>

        <div id="submit-button-wrapper">
            <a id="join-button">
                <span>Join</span>
            </a>

            <input type="submit" />
        </div>
    </form>

    <section id="website-language-selection">
        <label for="language">Display the website in:</label>
        <select id="language">
            <option value="en">English</option>
            <option value="fr">Fran&ccedil;ais</option>
        </select>
    </section>
</script>

<script type="text/javascript">
    window.addEvent("domready",function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.Join({
            el: "#content",
            countries: @Html(services.JsonUtil.serialize(countries)),
            languageCode: "@languageCode"
        }).run();
    });
</script>
}