@main("Solidarity Network - Login", "login") {
<!--
    Header
-->
@nav(None, Some("Login"))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <h1>Login</h1>

    <form>
        <p id="auth-failed">Wrong credentials :( Please try again!</p>

        <div class="field">
            <input id="username-or-email" type="text" placeholder="Username or e-mail *"/>

            <p class="field-error" data-check="empty">Hard for us to log you in without a username...</p>
        </div>

        <div class="field">
            <input id="password" type="password" placeholder="Password *"/>

            <p class="field-error" data-check="empty">Oops, you forgot the password!</p>
        </div>

        <span id="submit-button-wrapper">
            <a id="login-button">
                <span>Log in</span>
            </a>

            <input type="submit" />
        </span>

    </form>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.Login({
            el: "#content"
        }).run();
    });
</script>
}