@main("Solidarity Network - Login", "login") {
<!--
    Content
-->

} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <form>
        <div class="field">
            <input id="username-or-email" type="text" placeholder="Username or e-mail"/>
        </div>

        <div class="field">
            <input id="password" type="password" placeholder="Password"/>
        </div>

        <a id="login-button">
            <span>Login</span>
        </a>

        <input type="submit" style="visibility: hidden" />

    </form>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.Login({
            el: "#content"
        })
        .run();
    });
</script>
}