@(username: Option[String], from: Option[String], to: Option[String])
@main("Solidarity Network - Login", "login") {
<!--
    Header
-->
@nav(None, Some("Login"))

} {
<!--
    Content
-->
<h1>Login</h1>

@if(from.isDefined) {
<p class="indication">Thanks for joining the Solidarity Network!<br />
    Please login:</p>
}

} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <form>
        <p id="auth-failed">Wrong credentials :( Please try again!</p>

        <div class="field">
            <label for="username-or-email" class="mdnz-polyfill placeholder">Username or e-mail</label><!--
         --><input id="username-or-email" type="text" placeholder="Username or e-mail *"/>

            <p class="field-error without-label" data-check="empty">Hard for us to log you in without a username...</p>
        </div>

        <div class="field">
            <label for="password" class="mdnz-polyfill placeholder">Password</label><!--
         --><input id="password" type="text" placeholder="Password *"/>

            <p class="field-error without-label" data-check="empty">Oops, you forgot the password!</p>
        </div>

        <div id="submit-wrapper">
            <input type="submit" class="btn btn-primary btn-large" value="Log in" />
        </div>

    </form>

    <section id="join-wrapper">
        <span>No account yet?</span>
        <a id="join" href="/join">Join</a>
    </section>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.Login({
            el: "#content"
            @if(username.isDefined) {
            , username: "@username.get"
            }
            @if(to.isDefined) {
            , to: "@to.get"
            }
        }).run();
    });
</script>
}