@(title: String, page: String)(header: Html)(content: Html)(javascript: Html)

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Icon -->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!--
        Stylesheets
    -->

    @if(play.Play.isDev) {

    <!-- Libs -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/h5bp/normalize.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/h5bp/main.css")">

    <!-- Global -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/responsive.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/header.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/form.css")">

    <!-- Rest -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/join.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/help-dashboard.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/create-help-request.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/search-help-requests.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/view-help-request.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/my-profile.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/edit-profile.css")">

    } else {

    <!-- Merged Stylesheets -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/merged.min.css")">

    }

    <script src="@routes.Assets.at("javascripts/libs/h5bp/modernizr-2.6.1.min.js")"></script>

    <!-- Fonts -->

</head>

<body id="@page" >
    <header>
        @header
    </header>

    <div id="content" role="main">
        @content
    </div>

    <footer>

    </footer>

    @if(play.Play.isDev) {

    <!-- Libs -->
    <script src="@routes.Assets.at("javascripts/libs/jquery-1.8.2.js")"></script>
    <script src="@routes.Assets.at("javascripts/common/jquery.no-conflict.js")"></script>

    <script src="@routes.Assets.at("javascripts/libs/mootools-core-1.4.5-full-nocompat.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/mustache.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/ajaxupload.js")"></script>

    <!-- Global -->
    <script src="@routes.Assets.at("javascripts/global.js")"></script>

    <!-- Common -->
    <script src="@routes.Assets.at("javascripts/common/json-util.js")"></script>
    <script src="@routes.Assets.at("javascripts/common/jquery.plugin.animations.js")"></script>

    <!-- Services -->
    <script src="@routes.Assets.at("javascripts/services/validator.js")"></script>
    <script src="@routes.Assets.at("javascripts/services/keyboard.js")"></script>

    <!-- Models -->
    <script src="@routes.Assets.at("javascripts/models/json-serializable-model.js")"></script>
    <script src="@routes.Assets.at("javascripts/models/user.js")"></script>
    <script src="@routes.Assets.at("javascripts/models/help-request.js")"></script>
    <script src="@routes.Assets.at("javascripts/models/help-response.js")"></script>
    <script src="@routes.Assets.at("javascripts/models/reference.js")"></script>
    <script src="@routes.Assets.at("javascripts/models/subscription-to-help-responses.js")"></script>

    <!-- Controllers -->
    <script src="@routes.Assets.at("javascripts/controllers/template-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/nav-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/login-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/join-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/create-help-request-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/search-help-requests-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/view-help-request-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/my-profile-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/edit-profile-controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/profile-controller.js")"></script>

    } else {

    <!-- Merged js -->
    <script src="@routes.Assets.at("javascripts/dist/merged.min.js")"></script>

    }

    @javascript

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
