@(user: models.frontend.FrontendUser, inboxMessages: List[models.frontend.FrontendMessage], from: Option[String])
@main("Inbox", "msg-inbox") {
<!--
    Header
-->
@nav(Some(user), Some("Inbox"))

} {
<!--
    Content
-->
<h1>Messages</h1>

@if(from.isDefined) {
<p class="indication">
    @if(from.get == "new") {
        Message sent
    } else {
        Reply sent
    }
</p>
}

<div class="action line">
    <a href="/messages/new">Write a message</a>
</div>
<div class="action">
    <a href="/messages/sent">Sent messages</a>
</div>
} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <h2>Inbox</h2>

    <section id="list-container"></section>
</script>

<script id="list-template" type="text/html">
    <ul id="mobile-list">
        {{#inboxMessages}}
        <li class="clickable" data-id="{{id}}">
            <div>
                <img class="profile-pic-thumb" src="/files/profile-pic/{{fromUser.id}}" />

                <section>
                    <p class="username">{{fromUser.username}}</p>
                    <span class="first-name">{{fromUser.firstName}}</span>
                    <span class="last-name">{{fromUser.lastName}}</span>
                    <p class="user-city">{{fromUser.city}}</p>
                </section>
            </div>

            <div>
                <section class="date">
                    <p>{{creationDatetime}}</p>
                </section>

                <h3>{{title}}</h3>
            </div>
        </li>
        {{/inboxMessages}}
    </ul>

    <table id="desktop-list">
        {{#inboxMessages}}
        <tr class="clickable" data-id="{{id}}">
            <!-- By -->
            <td>
                <img class="profile-pic-thumb" src="/files/profile-pic/{{fromUser.id}}" />
                <p class="username">{{fromUser.username}}</p>
                <span class="first-name">{{fromUser.firstName}}</span>
                <span class="last-name">{{fromUser.lastName}}</span>
                <p class="user-city">{{fromUser.city}}</p>
            </td>

            <!-- Title -->
            <td class="main-column">
                <p>{{title}}</p>
            </td>

            <!-- Created -->
            <td class="date">
                <span>{{creationDatetime}}</span>
            </td>
        </tr>
        {{/inboxMessages}}
    </table>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.MsgInbox({
            el: "#content",
            inboxMessages: @Html(services.JsonUtil.serialize(inboxMessages))
        }).run();
    });
</script>
}
