@(user: models.User, from: Option[String])
@main("Inbox", "msg-inbox") {
<!--
    Header
-->
@nav(Some(user), Some("Inbox"))

} {
<!--
    Content
-->
<h1>Messages</h1>

@if(from.isDefined) {
<p class="indication">Message sent</p>
}
<div class="action line">
    <a href="/messages/new">Write a message</a>
</div>
<div class="action">
    <a href="/messages/sent">Sent messages</a>
</div>
} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <h2>Inbox</h2>

    <section id="list-container"></section>
</script>

<script id="list-template" type="text/html">
    <ul id="mobile-results">
        {{#messages}}
        <li class="search-result" data-id="{{id}}">
            <div class="floated-wrapper">
                <img class="profile-pic-thumb" src="/files/profile-pic/{{requester.id}}" />

                <section class="dates">
                    <div class="creation-date">
                        <label>Submitted:</label>
                        <span>{{creationDatetime}}</span>
                    </div>
                    <div class="expiry-date">
                        <label>Expires:</label>
                        <span>{{expiryDate}}</span>
                    </div>
                </section>
            </div>

            <div class="floated-wrapper">
                <section>
                    <div class="requester-username">{{requester.username}}</div>
                    <span class="requester-first-name">{{requester.firstName}}</span>
                    <span class="requester-last-name">{{requester.lastName}}</span>
                    <div class="requester-city">{{requester.city}}</div>
                </section>

                <h3>{{title}}</h3>
            </div>
        </li>
        {{/messages}}
    </ul>

    <table id="desktop-results">
        <th>By</th>
        <th>Title & description</th>
        <th>Submitted</th>
        <th>Expires</th>

        {{#messages}}
        <tr class="search-result" data-id="{{id}}">
            <!-- By -->
            <td>
                <img class="profile-pic-thumb" src="/files/profile-pic/{{requester.id}}" />
                <div class="requester-username">{{requester.username}}</div>
                <span class="requester-first-name">{{requester.firstName}}</span>
                <span class="requester-last-name">{{requester.lastName}}</span>
                <div class="requester-city">{{requester.city}}</div>
            </td>

            <!-- Title & description -->
            <td>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
            </td>

            <!-- Submitted -->
            <td>
                <span class="creation-date">{{creationDatetime}}</span>
            </td>

            <!-- Expires -->
            <td>
                <span class="expiry-date">{{expiryDate}}</span>
            </td>
        </tr>
        {{/messages}}
    </table>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        /* TODO new CBR.Controllers.MsgInbox({
            el: "#content"
        }).run(); */
    });
</script>
}