@(user: models.frontend.FrontendUser, unreadMessagesCount: Int, messages: List[models.frontend.FrontendMessage])
@main("Inbox", "msg-inbox") {
<!--
    Header
-->
@nav(Some(user), Some("Inbox"), unreadMessagesCount)

} {
<!--
    Content
-->
<h1>Messages</h1>

<div class="action line">
    <a href="/messages/new">Write a message</a>
</div>
<div class="action">
    <a href="/messages/sent">Sent messages</a>
</div>
} {
<!--
    Javascript
-->

<script id="content-template" type="text/html">
    <h2>Inbox</h2>

    {{^messages}}
    <p>Nothing here yet.</p>
    {{/messages}}

    <section id="list-container">
        <ul id="mobile-list">
            {{#messages}}
            <li class="clickable {{^isRead}}unread{{/isRead}}" data-id="{{id}}">
                <div>
                    <img class="profile-pic-thumb" src="/files/profile-pic/{{fromUser.id}}" />

                    <section>
                        <p class="username">{{fromUser.username}}</p>
                        <span class="first-name">{{fromUser.firstName}}</span>
                        <span class="last-name">{{fromUser.lastName}}</span>
                        <p class="user-city">{{fromUser.city}}</p>
                    </section>
                </div>

                <div>
                    <section class="date">
                        <p>{{creationDatetime}}</p>
                    </section>

                    {{#title}}
                    <h3 class="selenium-property-displayed-title">{{title}}{{^title}}{{text}}{{/title}}</h3>
                    {{/title}}

                    {{^title}}
                    <p class="selenium-property-displayed-title">{{text}}</p>
                    {{/title}}
                </div>
            </li>
            {{/messages}}
        </ul>

        <table id="desktop-list">
            {{#messages}}
            <tr class="clickable {{^isRead}}unread{{/isRead}}" data-id="{{id}}">
                <!-- By -->
                <td>
                    <img class="profile-pic-thumb" src="/files/profile-pic/{{fromUser.id}}" />
                    <p class="username">{{fromUser.username}}</p>
                    <span class="first-name">{{fromUser.firstName}}</span>
                    <span class="last-name">{{fromUser.lastName}}</span>
                    <p class="user-city">{{fromUser.city}}</p>
                </td>

                <!-- Title -->
                <td class="main-column">
                    <p class="selenium-property-displayed-title">{{title}}{{^title}}{{text}}{{/title}}</p>
                </td>

                <!-- Created -->
                <td class="date">
                    <span>{{creationDatetime}}</span>
                </td>
            </tr>
            {{/messages}}
        </table>
    </section>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.MsgList({
            el: "#content",
            messages: @Html(services.JsonUtil.serialize(messages))
        }).run();
    });
</script>
}
