@(user: User, frontendUser: frontend.FrontendUser, frontendReferences: List[frontend.FrontendReference])
@main("Solidarity Network - My profile", "my-profile") {
<!--
    Header
-->
@nav(Some(user), Some("My Profile"))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <h1>My profile</h1>

    <img src="/files/profile-pic/{{user.id}}" />
    <p>{{user.firstName}} {{user.lastName}}, aka "{{user.username}}"</p>
    <p>Lives in {{user.city}}, {{user.country.name}}</p>

    <p>{{user.description}}</p>
    <span>
        <a href="/my-profile/edit">Edit</a>
    </span>

    <h2>References</h2>
    <section id="references">
        {{#references}}
        <article>
            <span>From <a href="/users/{{fromUser.username}}">{{fromUser.firstName}} {{fromUser.lastName}} aka "{{fromUser.username}}"</a></span>
            <img src="/files/profile-pic/{{fromUser.id}}" />
            <span class="creation-date">{{creationDatetime}}</span>
            <a href="mailto:panzrkunst@@yahoo.fr?subject=Reporting-a-reference">Report</a>
            <span class="was-helped {{wasHelped}}"></span>
            <span class="rating {{rating.label}}"></span>
            <span>{{text}}</span>
        </article>
        {{/references}}
    </section>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.MyProfile({
            el: "#content",
            user: @Html(services.JsonUtil.serialize(frontendUser)),
            references: @Html(services.JsonUtil.serialize(frontendReferences))
        }).run();
    });
</script>
}