@(user: User)
<nav id="header-nav">
    <ul>
        <li><a href="/home">Home</a></li>

        <li>
            <span>Help dashboard</span>
            <ul class="sub-nav">
                <li><a href="/help">Help dashboard</a></li>
                <li><a href="/help">Help requests near me</a></li>
                <li><a href="/help-requests/new">Submit a help request</a></li>
                <li><a href="/help-requests">Search help requests</a></li>
                <li><a href="/help-requests?by=@user.username">My help requests</a></li>
                <li><a href="/help-requests?respondedBy=@user.username">Help requests I responded to</a></li>
            </ul>
        </li>

        <li>
            <span>My profile</span>
            <ul class="sub-nav">
                <li><a href="/my-profile">My profile</a></li>
                <li><a href="/my-profile/edit">Edit</a></li>
            </ul>
        </li>

        <li>
            <span>Messages</span>
            <ul class="sub-nav">
                <li><a href="/messages">Messages</a></li>
                <li><a href="/messages">Inbox</a></li>
                <li><a href="/messages/new">Write a message</a></li>
                <li><a href="/messages/sent">Sent messages</a></li>
            </ul>
        </li>

        <li><a href="/forum">Forum</a></li>

        <li><a href="/about-us">About us</a></li>
    </ul>
</nav>
