@(user: Option[models.User], title: Option[String])
<nav id="header-nav">
    @if(title.isDefined) {
    <h1>@title.get</h1>
    }

    <span>
        <button class="btn"><i class="icon-list"></i>&nbsp;&nbsp;Menu</button>
    </span>

    <ul>
        @if(user.isDefined) {
        <li>
            <a href="/home">Home</a>
        </li>

        <li>
            <span>Help dashboard</span>
            <ul class="sub-nav">
                <li><a href="/help">Help requests near me</a></li>
                <li><a href="/help-requests/new">Submit a help request</a></li>
                <li><a href="/help-requests">Search help requests</a></li>
                <li><a href="/help-requests?username=@user.get.username">My help requests</a></li>
                <li><a href="/help-requests?respondedBy=@user.get.username">Help requests I responded to</a></li>
            </ul>
        </li>

        <li>
            <span>My profile</span>
            <ul class="sub-nav">
                <li><a href="/my-profile">My profile</a></li>
                <li><a href="/my-profile/edit">Edit profile</a></li>
            </ul>
        </li>

        <li>
            <span>Messages</span>
            <ul class="sub-nav">
                <li><a href="/messages">Inbox</a></li>
                <li><a href="/messages/new">Write a message</a></li>
                <li><a href="/messages/sent">Sent messages</a></li>
            </ul>
        </li>
        }

        <li>
            <a href="/forum">Forum</a>
        </li>

        <li>
            <a href="/about">About</a>
        </li>

        @if(user.isDefined) {
        <li>
            <a href="/logout">Log out</a>
        </li>

        } else {

        <li>
            <a href="/login">Login</a>
        </li>

        <li>
            <a href="/join">Join</a>
        </li>
        }
    </ul>
</nav>
