@(loggedInUser: models.frontend.FrontendUser, frontendUser: models.frontend.FrontendUser, frontendReferences: List[models.frontend.FrontendReference])
@main(frontendUser.firstName + " " + frontendUser.lastName + " <" + frontendUser.username + ">", "profile") {
<!--
    Header
-->
@nav(Some(loggedInUser), Some(frontendUser.firstName + " " + frontendUser.lastName + " <" + frontendUser.username + ">"))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <h1>{{user.firstName}} {{user.lastName}} &lt;{{user.username}}&gt;</h1>

    <section id="profile-info">
        <div id="profile-pic">
            <img src="/files/profile-pic/{{user.id}}" />
        </div>

        <div id="textual-info">
            <p>Lives in {{user.city}}, {{user.country.name}}</p>

            <p id="description">{{{user.description}}}</p>

            <div>
                @if(loggedInUser.id == frontendUser.id) {
                <a href="/my-profile/edit" class="btn"><i class="icon-edit"></i>&nbsp;&nbsp;Edit</a>
                } else {
                <a href="/messages/new?recipient={{user.username}}" class="btn"><i class="icon-pencil"></i>&nbsp;&nbsp;Write a message</a>

                <div>
                    <a id="write-reference">Write a reference</a>
                </div>

                <form id="reference-form">
                    <div class="field">
                        <ul id="helped-or-was-helped" class="nav nav-pills">
                            <li id="helped">
                                <a>Helped</a>
                            </li>
                            <li id="was-helped">
                                <a>Was helped</a>
                            </li>
                        </ul>

                        <p class="field-error" data-check="empty">Did you help, or were you helped?</p>
                    </div>

                    <div class="field">
                        <label for="grade">Grade:</label><!--
                     --><ul id="grade" class="nav nav-pills">
                            <li data-grade-id="4">
                                <a>Great!</a>
                            </li>
                            <li data-grade-id="3">
                                <a>Nice</a>
                            </li>
                            <li data-grade-id="2">
                                <a>Neutral</a>
                            </li>
                            <li data-grade-id="1">
                                <a>Negative</a>
                            </li>
                        </ul>

                        <p class="field-error" data-check="empty">Please select a grade</p>
                    </div>

                    <div class="field">
                        <textarea id="reference-text" placeholder="Your reference text *"></textarea>

                        <p class="field-error" data-check="empty">Please explain how things went</p>
                    </div>

                    <input type="submit" class="hidden" />

                    <div id="submit-reference-wrapper">
                        <button id="cancel-reference" class="btn btn-inverse">Cancel</button>
                        <button id="post-reference" class="btn btn-primary">Save reference</button>
                    </div>
                </form>
                }
            </div>
        </div>
    </section>


    <h2>References</h2>

    <section id="references">
        {{#references}}
        <article>
            <img class="profile-pic-thumb" src="/files/profile-pic/{{fromUser.id}}" />
            <span><a href="/users/{{fromUser.username}}">{{fromUser.firstName}} {{fromUser.lastName}} &lt;{{fromUser.username}}&gt;</a></span>
            <span class="creation-date">{{creationDatetime}}</span>

            @if(loggedInUser.id == frontendUser.id) {
            <a href="mailto:panzrkunst@@yahoo.fr?subject=Reporting reference number {{id}}">Report</a>
            }

            <span class="was-helped {{wasHelped}}"></span>
            <span class="rating {{rating.id}}"></span>
            <p>{{{text}}}</p>
        </article>
        {{/references}}
    </section>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.Profile({
            el: "#content",
            user: @Html(services.JsonUtil.serialize(frontendUser)),
            references: @Html(services.JsonUtil.serialize(frontendReferences))
        }).run();
    });
</script>
}