@(user: models.User, frontendUser: models.frontend.FrontendUser, frontendReferences: List[models.frontend.FrontendReference])
@main(frontendUser.firstName + " " + frontendUser.lastName + " <" + frontendUser.username + ">", "profile") {
<!--
    Header
-->
@nav(Some(user), Some(frontendUser.firstName + " " + frontendUser.lastName + " <" + frontendUser.username + ">"))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <h1>{{user.firstName}} {{user.lastName}} <{{user.username}}></h1>

    <section id="profile-info">
        <div id="profile-pic">
            <img src="/files/profile-pic/{{user.id}}" />
        </div>

        <div id="textual-info">
            <p>Lives in {{user.city}}, {{user.country.name}}</p>

            <p id="description">{{user.description}}</p>

            <div>
                @if(user.id.get == frontendUser.id) {
                <a href="/my-profile/edit" class="btn"><i class="icon-edit"></i>&nbsp;&nbsp;Edit</a>
                } else {
                <a href="/messages/new?to={{user.username}}" class="btn"><i class="icon-pencil"></i>&nbsp;&nbsp;Write a message</a>
                }
            </div>
        </div>
    </section>


    <h2>References</h2>

    <section id="references">
        {{#references}}
        <article>
            <img class="profile-pic-thumb" src="/files/profile-pic/{{fromUser.id}}" />
            <span><a href="/users/{{fromUser.username}}">{{fromUser.firstName}} {{fromUser.lastName}} <{{fromUser.username}}></a></span>
            <span class="creation-date">{{creationDatetime}}</span>

            @if(user.id.get == frontendUser.id) {
            <a href="mailto:panzrkunst@@yahoo.fr?subject=Reporting reference number {{id}}">Report</a>
            }

            <span class="was-helped {{wasHelped}}"></span>
            <span class="rating {{rating.id}}"></span>
            <p>{{text}}</p>
        </article>
        {{/references}}
    </section>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.Profile({
            el: "#content",
            user: @Html(services.JsonUtil.serialize(frontendUser)),
            references: @Html(services.JsonUtil.serialize(frontendReferences))
        }).run();
    });
</script>
}