@(user: User, frontendUser: frontend.FrontendUser, frontendReferences: List[frontend.FrontendReference])
@main(frontendUser.firstName + " " + frontendUser.lastName + " aka " + frontendUser.username, "profile") {
<!--
    Header
-->
@nav(Some(user), Some(frontendUser.firstName + " " + frontendUser.lastName + " aka " + frontendUser.username))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <h1>{{user.firstName}} {{user.lastName}} aka {{user.username}}</h1>

    <section id="profile-info">
        <img class="profile-pic" src="/files/profile-pic/{{user.id}}" />

        <div id="textual-info">
            <p>Lives in {{user.city}}, {{user.country.name}}</p>

            <p>{{user.description}}</p>
        </div>
    </section>


    <h2>References</h2>

    <section id="references">
        {{#references}}
        <article>
            <img class="profile-pic-thumb" src="/files/profile-pic/{{fromUser.id}}" />
            <span><a href="/users/{{fromUser.username}}">{{fromUser.firstName}} {{fromUser.lastName}} aka "{{fromUser.username}}"</a></span>
            <span class="creation-date">{{creationDatetime}}</span>
            <a href="mailto:panzrkunst@@yahoo.fr?subject=Reporting-a-reference">Report</a>
            <span class="was-helped {{wasHelped}}"></span>
            <span class="rating {{rating.id}}"></span>
            <p>{{text}}</p>
        </article>
        {{/references}}
    </section>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.Profile({
            el: "#content",
            user: @Html(services.JsonUtil.serialize(frontendUser)),
            references: @Html(services.JsonUtil.serialize(frontendReferences))
        }).run();
    });
</script>
}