@(user: User)
@main("Solidarity Network - Search help requests", "search-help-requests") {
<!--
    Header
-->
@nav(Some(user))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <h1>Search help requests</h1>

    <form>
        <div class="centered">
            <div class="field">
                <input id="query" type="text"/>

                <p class="field-error" data-check="search-keywords">Keywords are optional. Only "city", "country",
                    "firstName", "lastName" and "username" are treated as keywords.</p>
            </div>

            <a id="search-button">
                <span>Search</span>
            </a>
        </div>

        <input type="submit" style="visibility: hidden"/>
    </form>

    <div id="search-results"></div>
</script>

<script id="search-results-template" type="text/html">
    <table>
        <th>By</th>
        <th>Title & description</th>
        <th>Submitted</th>
        <th>Expires</th>

        {{#helpRequests}}
        <tr>
            <!-- By -->
            <td>
                <span class="requester-username">{{requester.username}}</span>
                <span class="requester-first-name">{{requester.firstName}}</span>
                <span class="requester-last-name">{{requester.lastName}}</span>
                <span class="requester-city">{{requester.city}}</span>
            </td>

            <!-- Title & description -->
            <td>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
            </td>

            <!-- Submitted -->
            <td>
                <span class="creation-date">{{creationDate}}</span>
            </td>

            <!-- Expires -->
            <td>
                <span class="expiry-date">{{expiryDate}}</span>
            </td>
        </tr>
        {{/helpRequests}}
    </table>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.SearchHelpRequests({
            el: "#content"
        }).run();
    });
</script>
}