@(user: models.User)
@main("Search help requests", "search-help-requests") {
<!--
    Header
-->
@nav(Some(user), Some("Search help requests"))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <h1>Search help requests</h1>

    <form>
        <div class="centered">
            <div class="field">
                <input id="query" type="search" placeholder="city, name, username, keyword..."/>

                <p class="field-error" data-check="search-keywords">Keywords are optional. Only "title", "desc",
                    "firstName", "lastName", "username", "city" and "country" are considered as keywords.</p>
            </div>

            <span>
                <a id="search-button">Search</a>
            </span>
        </div>

        <input type="submit" />
    </form>

    <section id="search-results"></section>
    <p id="search-returned-nothing">Nothing found for this search</p>
</script>

<script id="search-results-template" type="text/html">
    <ul id="mobile-results">
        {{#helpRequests}}
        <li class="search-result" data-id="{{id}}">
            <div class="floated-wrapper">
                <img class="profile-pic-thumb" src="/files/profile-pic/{{requester.id}}" />

                <section class="dates">
                    <div class="creation-date">
                        <label>Submitted:</label>
                        <span>{{creationDatetime}}</span>
                    </div>
                    <div class="expiry-date">
                        <label>Expires:</label>
                        <span>{{expiryDate}}</span>
                    </div>
                </section>
            </div>

            <div class="floated-wrapper">
                <section>
                    <div class="requester-username">{{requester.username}}</div>
                    <span class="requester-first-name">{{requester.firstName}}</span>
                    <span class="requester-last-name">{{requester.lastName}}</span>
                    <div class="requester-city">{{requester.city}}</div>
                </section>

                <h3>{{title}}</h3>
            </div>
        </li>
        {{/helpRequests}}
    </ul>

    <table id="desktop-results">
        <th>By</th>
        <th>Title & description</th>
        <th>Submitted</th>
        <th>Expires</th>

        {{#helpRequests}}
        <tr class="search-result" data-id="{{id}}">
            <!-- By -->
            <td>
                <img class="profile-pic-thumb" src="/files/profile-pic/{{requester.id}}" />
                <div class="requester-username">{{requester.username}}</div>
                <span class="requester-first-name">{{requester.firstName}}</span>
                <span class="requester-last-name">{{requester.lastName}}</span>
                <div class="requester-city">{{requester.city}}</div>
            </td>

            <!-- Title & description -->
            <td>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
            </td>

            <!-- Submitted -->
            <td>
                <span class="creation-date">{{creationDatetime}}</span>
            </td>

            <!-- Expires -->
            <td>
                <span class="expiry-date">{{expiryDate}}</span>
            </td>
        </tr>
        {{/helpRequests}}
    </table>
</script>

<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.SearchHelpRequests({
            el: "#content"
        }).run();
    });
</script>
}