@(user: models.User, helpRequest: models.frontend.FrontendHelpRequest, isSubscribedToResponses: java.lang.Boolean, helpResponses: List[models.frontend.FrontendHelpResponse])
@main(helpRequest.title, "view-help-request") {
<!--
    Header
-->
@nav(Some(user), Some(helpRequest.title))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <section id="requester">
        <img src="/files/profile-pic/{{helpRequest.requester.id}}"/>

        <p>{{helpRequest.requester.firstName}} {{helpRequest.requester.lastName}} &lt;{{helpRequest.requester.username}}&gt;</p>

        <p>Lives in {{helpRequest.requester.city}}, {{helpRequest.requester.country.name}}</p>

        <div>
            <a href="/users/{{helpRequest.requester.username}}" class="btn"><i class="icon-eye-open"></i>&nbsp;&nbsp;View full profile</a>
        </div>
    </section>

    <section id="main">
        <section id="help-request" data-id="{{helpRequest.id}}">
            <h1>{{helpRequest.title}}</h1>

            <p>{{{helpRequest.description}}}</p>

            <p>
                <label>Submitted:</label>
                <span>{{helpRequest.creationDatetime}}</span>
            </p>

            <p>
                <label>Expires:</label>
                <span>{{helpRequest.expiryDate}}</span>
            </p>

            @if(user.id.get == helpRequest.requester.id) {
            <div>
                <a href="/help-requests/edit/{{helpRequest.id}}" class="btn"><i class="icon-edit"></i>&nbsp;&nbsp;Edit</a>
            </div>
            <div>
                <button id="delete" class="btn btn-danger"><i class="icon-trash icon-white"></i>&nbsp;&nbsp;Delete</button>
            </div>
            }
        </section>

        <section id="responses">
            <h2>Responses</h2>

            {{#helpResponses}}
            <article>
                <img src="/files/profile-pic/{{responder.id}}"/>
                <span>{{creationDatetime}}</span>
                <span>{{responder.name}}</span>
                <span>{{responder.username}}</span>

                <p>{{{text}}}</p>
            </article>
            {{/helpResponses}}

            @if(user.id.get != helpRequest.requester.id) {
            <div class="field check-or-radio">
                <input type="checkbox" id="is-subscribing-to-future-responses" {{#isSubscribedToResponses}}checked="checked"{{/isSubscribedToResponses}}><!--
             --><label>Subscribe to future responses</label>
            </div>
            }
        </section>

        @if(user.id.get != helpRequest.requester.id) {
        <div>
            <a id="respond">Respond to {{helpRequest.requester.firstName}}'s help request</a>
        </div>

        <form id="respond-form">
            <div class="field">
                <textarea id="response-text" placeholder="Your message *"></textarea>

                <p class="field-error" data-check="empty">Please respond with a message</p>
            </div>

            <input type="submit"/>

            <div id="submit-response-wrapper">
                <button id="cancel-response" class="btn btn-inverse">Cancel</button>
                <button id="post-response" class="btn btn-primary">Post response</button>
            </div>
        </form>

        <div>
            <a id="write-reference">Write a reference</a>
        </div>

        <form id="reference-form">
            <div class="field">
                <ul id="helped-or-was-helped" class="nav nav-pills">
                    <li id="helped">
                        <a>Helped</a>
                    </li>
                    <li id="was-helped">
                        <a>Was helped</a>
                    </li>
                </ul>

                <p class="field-error" data-check="empty">Did you help, or were you helped?</p>
            </div>

            <div class="field">
                <label for="grade">Grade:</label><!--
             --><ul id="grade" class="nav nav-pills">
                    <li data-grade-id="4">
                        <a>Great!</a>
                    </li>
                    <li data-grade-id="3">
                        <a>Nice</a>
                    </li>
                    <li data-grade-id="2">
                        <a>Neutral</a>
                    </li>
                    <li data-grade-id="1">
                        <a>Negative</a>
                    </li>
                </ul>

                <p class="field-error" data-check="empty">Please select a grade</p>
            </div>

            <div class="field">
                <textarea id="reference-text" placeholder="Your reference text *"></textarea>

                <p class="field-error" data-check="empty">Please explain how things went</p>
            </div>

            <input type="submit"/>

            <div id="submit-reference-wrapper">
                <button id="cancel-reference" class="btn btn-inverse">Cancel</button>
                <button id="post-reference" class="btn btn-primary">Save reference</button>
            </div>
        </form>
        }
    </section>

    <div class="modal hide fade" id="confirm-delete-modal">
        <div class="modal-body">
            <p>Delete this help request?</p>
        </div>
        <div class="modal-footer">
            <button id="cancel-delete" class="btn btn-inverse"><i class="icon-chevron-left icon-white"></i>&nbsp;&nbsp;Cancel</button>
            <button id="confirm-delete" class="btn btn-primary"><i class="icon-chevron-right icon-white"></i>&nbsp;&nbsp;Delete</button>
        </div>
    </div>

    <div class="modal hide fade" id="deletion-impossible-modal">
        <div class="modal-body">
            <p>Only unanswered help requests can be deleted</p>
        </div>
        <div class="modal-footer">
            <button id="close-modal" class="btn btn-inverse"><i class="icon-remove icon-white"></i>&nbsp;&nbsp;Close</button>
        </div>
    </div>

</script>

<script type="text/javascript">
    window.addEvent("domready",function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.ViewHelpRequest({
            el: "#content",
            helpRequest: @Html(services.JsonUtil.serialize(helpRequest)),
            isSubscribedToResponses: @Html(services.JsonUtil.serialize(isSubscribedToResponses)),
            helpResponses: @Html(services.JsonUtil.serialize(helpResponses))
        }).run();
    });
</script>
}