@(loggedInUser: models.frontend.FrontendUser, helpRequest: models.frontend.FrontendHelpRequest, isSubscribedToReplies: java.lang.Boolean, helpReplies: List[models.frontend.FrontendHelpReply])
@main(helpRequest.title, "view-help-request") {
<!--
    Header
-->
@nav(Some(loggedInUser), Some(helpRequest.title))

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->
<script id="content-template" type="text/html">
    <section id="requester">
        <img src="/files/profile-pic/{{helpRequest.requester.id}}"/>

        <p>{{helpRequest.requester.firstName}} {{helpRequest.requester.lastName}} &lt;{{helpRequest.requester.username}}&gt;</p>

        <p>Lives in {{helpRequest.requester.city}}, {{helpRequest.requester.country.name}}</p>

        <div>
            <a href="/users/{{helpRequest.requester.username}}" class="btn"><i class="icon-user"></i>&nbsp;&nbsp;View full profile</a>
        </div>
    </section>

    <section id="main">
        <section id="help-request" data-id="{{helpRequest.id}}">
            <h1>{{helpRequest.title}}</h1>

            <p>{{{helpRequest.description}}}</p>

            <p>
                <label>Submitted:</label>
                <span>{{helpRequest.creationDatetime}}</span>
            </p>

            <p>
                <label>Expires:</label>
                <span>{{helpRequest.expiryDate}}</span>
            </p>

            @if(loggedInUser.id == helpRequest.requester.id) {
            <div>
                <a href="/help-requests/edit/{{helpRequest.id}}" class="btn"><i class="icon-edit"></i>&nbsp;&nbsp;Edit</a>
            </div>
            <div>
                <button id="delete" class="btn btn-danger"><i class="icon-trash icon-white"></i>&nbsp;&nbsp;Delete</button>
            </div>
            }
        </section>

        <section id="replies">
            <h2>Replies</h2>

            {{#helpReplies}}
            <article>
                <img src="/files/profile-pic/{{replier.id}}"/>
                <span>{{creationDatetime}}</span>
                <a href="/users/{{replier.username}}">{{replier.firstName}} {{replier.lastName}} &lt;{{replier.username}}&gt;</a>

                <p>{{{text}}}</p>
            </article>
            {{/helpReplies}}

            @if(loggedInUser.id != helpRequest.requester.id) {
            <div class="field">
                <article class="check-or-radio">
                    <div><input type="checkbox" id="is-subscribing-to-future-replies" {{#isSubscribedToReplies}}checked="checked"{{/isSubscribedToReplies}}/></div>
                    <div><label>Subscribe to future replies</label></div>
                </article>
            </div>
            }
        </section>

        @if(loggedInUser.id != helpRequest.requester.id || !helpReplies.isEmpty) {
        <div>
            <a id="reply">Reply
                @if(loggedInUser.id != helpRequest.requester.id) {
                to {{helpRequest.requester.firstName}}'s help request
                }
            </a>
        </div>

        <form id="reply-form">
            <div class="field">
                <textarea id="reply-text" placeholder="Your message *"></textarea>

                <p class="field-error" data-check="empty">Please reply with a message</p>
            </div>

            <input type="submit" class="hidden"/>

            <div id="submit-reply-wrapper">
                <button id="cancel-reply" class="btn btn-inverse">Cancel</button>
                <button id="post-reply" class="btn btn-primary">Post reply</button>
            </div>
        </form>
        }
    </section>

    <div class="modal hide fade" id="confirm-delete-modal">
        <div class="modal-body">
            <p>Delete this help request?</p>
        </div>
        <div class="modal-footer">
            <button id="cancel-delete" class="btn btn-inverse"><i class="icon-chevron-left icon-white"></i>&nbsp;&nbsp;Cancel</button>
            <button id="confirm-delete" class="btn btn-primary"><i class="icon-chevron-right icon-white"></i>&nbsp;&nbsp;Delete</button>
        </div>
    </div>

    <div class="modal hide fade" id="deletion-impossible-modal">
        <div class="modal-body">
            <p>Only unanswered help requests can be deleted</p>
        </div>
        <div class="modal-footer">
            <button id="close-modal" class="btn btn-inverse"><i class="icon-remove icon-white"></i>&nbsp;&nbsp;Close</button>
        </div>
    </div>

</script>

<script type="text/javascript">
    window.addEvent("domready",function () {
        new CBR.Controllers.NavController().run();

        new CBR.Controllers.ViewHelpRequest({
            el: "#content",
            helpRequest: @Html(services.JsonUtil.serialize(helpRequest)),
            isSubscribedToReplies: @Html(services.JsonUtil.serialize(isSubscribedToReplies)),
            helpReplies: @Html(services.JsonUtil.serialize(helpReplies))
        }).run();
    });
</script>
}