
@import "lib/common";



/* Base Element styles  */

body {
    
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

    webkit-font-smoothing: antialiased;
}



/*
    Site Layout 
 
   The layout has a footer that always stays at the bottom of page.
         
   More information: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
   
*/




html {
    overflow-y: scroll;
    overflow-x: hidden;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;   // For the footer to be displayed below the main section
   height: auto !important;
   height: 100%;
   margin: 0 auto -300px;
}

#main {
   padding-bottom: 250px; /* Height of the footer + some padding */
   overflow: hidden;
}



/* Layout */

.wrapper {
    @include clearfix();
    position: relative; // For the navigation menu and the logo to be displayed correctly
    width: 940px;
    margin: 0 auto;
}

#form-wrapper {
    @include bg-wrapper();
    width: 780px;
    padding: 50px 80px 60px 80px;
}



/* Base Element styles */

h1, h2, h3, h4, h5 {
    display: block;
    margin: 0 0 20px 0;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}

a,
a:visited {
    font-weight: bold;
    color: $red;

    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: $orange;
}

em {
    display: inline-block;
}

p, em {
    margin: 0 0 15px 0;
}

p {
    color: #333;
}



/* Layout */

ul {
    list-style-type: none;
}

.row {
    margin-bottom: 40px;
}


/* Forms  */

.form-title {

    > p {
        font-size: 16px;
    }

     > em {
        font-weight: bold;
        float: right;
    }
}

form,
fieldset,
label {
    display: block;
}

form {

    label {
        color: $fontDarkGrey;
        font-size: 14px;
        margin-bottom: 3px;
    }

    em span {
        font-weight: bold;
    }

    label span,
    em span {
        color: $red;
    }

    em.required-label {
		font-weight: bold;
		float: right;
        margin-top: 2px;
    }

    input[type=text],
    input[type=password],
    textarea,
    .dropdown-button,
    .dropdown-list li {
        display: block;

        color: #717171;
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
        @include transition( 0.2s linear all );

        outline: 0;
    }

    input[type=text],
    input[type=password],
    textarea,
    .dropdown-list li {
        width: 344px;
        padding: 9px 15px;

        border: 1px solid $bgBorder;
    }

    input[type=text],
    input[type=password],
    textarea {
        @include border-radius( 4px );
        @include box-shadow(0, 5px, 10px, #F5F4EC, inset );
    }

    /* Input Error states */
    .error input[type=text] {
        border-color: #BE2E08;
    }


    /* Input Focus state */
    input[type=text]:focus,
    input[type=password]:focus,
    textarea:focus  {
        border-color: $orange;
    }

    /* Error message */
    .error-message {
        display: block;
        height: 12px;
        text-align: right;

        color: $red;
        font-size: 12px;
        font-weight: bold;
        font-style: italic;

        padding: 2px 2px 0 0;
    }

    /* Dropdown */

    .dropdown {
        position: relative;
    }

    .dropdown-button {
        width: 346px;
        padding: 12px 15px;
        @include transition( none );
        @include disable-selection();
        cursor: pointer;
    }

    .dropdown-button span,
    .dropdown-list li span {
        color: #999;
    }

    .dropdown-list {
        position: absolute;
        top: 39px;
        left: 0;

        z-index: 3;
    }

    .dropdown-list li {
        padding: 11px 15px;
        background-color: white;

        @include border-radius( 0 );
        @include disable-selection();
        border-bottom: none;
        cursor: pointer;
    }

     .dropdown-list li.first {
        display: none;
    }

    .dropdown-list li.last {
        border-bottom: 1px solid #EDECE8;
    }

    /* Selected */

    .dropdown-list li.selected span,
    .dropdown-list li:hover span {

        color: $orange;

    }


    /* Open state */

    .open .dropdown-button {
        padding: 11px 14px;
        background-color: white;
        border: 1px solid $bgBorder;
        @include border-radius( 4px );
    }



    /* Fieldset classes */

    fieldset {
        label:hover {
            cursor: default;
        }
    }

    .field-column {
        width: 378px;
        float: left;
    }

    .field-column-first {
        padding-right: 24px;
    }


    /* Fields */

    .field {
        clear: both;
        margin-bottom: 10px;
    }

    .field-group {
        display: inline-block;
        padding: 20px 0px 10px 16px;

        border: 1px solid $bgBorder;
        @include border-radius( 4px );
    }

    .field-note {
        display: inline-block;
        float: right;

        font-size: 14px;
        padding-top: 8px;
    }

    .field-inline {
        display: inline-block;
        float: left;
    }

    .field-checkbox {
        display: block;
        padding-bottom: 10px;

        float: left;
    }

    .field.dropdown {
        > label:hover {
            cursor: default;
        }
    }

    div.field-group {
        > div.field-checkbox {
            width: 180px;
        }

        > div.field-checkbox label {
            width: 150px;
        }
    }

    .field-checkbox span {
        float: left;
    }

    .field-checkbox label {
        display: block;
        position: relative;
        margin-top: 7px;
        margin-bottom: 0px;
        margin-left: 30px;

        @include disable-selection();
        color: #717171;

    }

    /* Fieldset styles */
    .field-buttons,
    .field-error {
       clear: both;
       text-align: center;
    }

    .field-buttons input,
    input[type=submit] {
        float: right;
    }




    .form-title {
        padding-bottom: 20px;

        p {
            display: block;
            width: 450px;
        }
    }


}

 /* Form Success */

.field-success {
   clear: both;
   display: none;

    > p {
        font-size: 16px;
    }
}

 /* Form Error */

.field-error {
    display: none;
    margin-bottom: 30px;
    padding: 0 20px;

    border: 1px solid $bgBorder;
    @include border-radius( 4px );

    p {
        margin: 0;
        padding: 20px 0 20px 30px;


        color: $fontDarkGrey;
        font-size: 16px;
        text-align: left;
    }
}





/* Header */

header {

    display: block;
    margin-bottom: 39px;

    background: $bgColor;
    border-bottom: 1px solid $bgBorder;

    #header-wrapper {

    }

    .wrapper {
        @include clearfix();
        height: 130px;
    }

    /* Logo */

    #logo {
        position: absolute;
        left: 0;
        bottom: 19px;
    }

    /* Navigation */

    #nav {
        @include clearfix();
        position: absolute;
        right: 0;
        bottom: -1px;


        @include nav-list();


    }

    #nav li {

    }
}



/* Footer */

footer {

    /* Keep at the bottom */
    position:absolute;
    bottom:0;
    height: 150px;
    width: 100%;

    background: $bgColor;
    border-top: 1px solid $bgBorder;




    .wrapper {
        padding-top: 30px;
    }

    #footer-nav {

        @include nav-list();

        > li {
            padding-right: 30px;

            > a {
                font-size: 14px;
            }
        }

        > li.active {
            > a:hover {
                cursor: default;
            }
        }
    }

    #footer-info {

        float: right;

        #footer-logo {
            float: right;
            margin-bottom: 15px;
        }

        .copyright {
            clear: both;
            display: block;
            font-size: 12px;
            font-style: italic;
        }
    }


}

