
@import "lib/common";



/* GUI Sprites */

#logo,
#footer-logo,
.btn,
.link-more,
.link-less,
#intro-features,
.dropdown-button,
.btn-slider-prev,
.btn-slider-next,
#nav li,
#nav li a,
.bullet-list li,
.check,
.team-signiture,
.field-error p,
.tab-login span  {
	background: transparent url(/public/img/sprite-gui.png) no-repeat scroll 0 0;
}




/* Logo */

#logo {
	@include ir();
	width: 295px;
	height: 64px;

    background-position: 0 -700px;
}

#footer-logo {
	@include ir();
	width: 145px;
	height: 40px;

	background-position: -280px -50px;
}


/* Buttons */

.btn {
    @include ir();
	display: block;
}

.btn.signup-for-beta {
	width: 229px;
	height: 50px;

	background-position: 0 -800px;

    &:hover {
        background-position: -250px -800px;
    }

    &:active {
        background-position: -500px -800px;
    }
}

.btn.signup {
	width: 130px;
	height: 50px;

	background-position: -450px -100px;

    &:hover {
        background-position: -600px -100px;
    }

    &:active {
        background-position: -750px -100px;
    }
}

.btn.send {
	width: 90px;
	height: 40px;

	background-position: -450px -200px;

    &:hover {
        background-position: -600px -200px;
    }

    &:active {
        background-position: -750px -200px;
    }
}

.btn.login {
	width: 131px;
	height: 40px;

	background-position: -450px -250px;

    &:hover {
        background-position: -600px -250px;
    }

    &:active {
        background-position: -750px -250px;
    }
}


/* Form error */

.field-error p {
	background-position: -980px 0;
}

/* Links */

.link-more,
.link-less {
	display: inline-block;
	padding-left: 15px;
}

.link-more {
	background-position: 0 -450px;
}

.link-less {
	background-position: 0 -480px;
}


/* Dropdown */

.dropdown-button {
    background-position: right -700px; 
}

.open .dropdown-button {
    background-position: right -750px; 
}


/* Header navigation */

#nav li,
#nav li a,
#nav li a span {
	display: inline-block;
}

#nav {

    li {
        padding-left: 5px;
        background-position: left -500px;
        margin-left: 10px;


        /* Hover state */

        &:hover {
            background-position: left -550px;

            a {
                background-position: right -550px;

                span {
                    color: #F9EBE7;
                }
            }
        }


        /* Down state */

        &:active {
            background-position: left -600px;

            a {
                background-position: right -600px;

                span {
                    color: #ECC1B6;
                }
            }
        }

        a {
            height: 40px;
            padding: 0 22px 0 17px;
            background-position: right -500px;

            span {
                font-size: 14px;
                padding-top: 11px;
                color: white;
                text-shadow:1px 1px 1px #444;

                @include transition( 0.2s linear all )
            }
        }
    }


    /* Active state */

    li.active {
        background-position: left -650px;

        a {
            background-position: right -650px;
            cursor: default;

            span {
                color: $fontDarkGrey;
                text-shadow: none;
            }
        }
    }


    /* Login Tab */

    .tab-login span {
    	 background-position: -700px -450px;
    	 padding-left: 17px;
    }

     /* Login Tab - Active */

    .active.tab-login span {
    	background-position: -980px -450px;
    }
}


/* Checkbox */

.check {
	@include disable-selection();

	display: block; 
	width: 30px;
	height: 30px;

	background-position: -550px -450px;

	cursor: pointer;
}

.checked {
	background-position: -600px -450px;
}


/* Thank thank from Appear */

.team-signiture {
	@include ir();
	width: 152px;
	height: 30px;

	background-position: -280px 0;

	margin-top: 30px;
}


/* Home features slider */

#intro-features {
	background-position: 0 -100px;

	width: 431px;
	height: 350px;
}

.btn-slider-prev,
.btn-slider-next {
	@include ir();
	@include disable-selection();
	width: 37px;
	height: 40px;
}

.btn-slider-prev {
	background-position: -450px 0;
} 

.btn-slider-next {
	background-position: -500px 0;
}


/* Hover state */

.btn-slider-prev:hover {
	background-position: -550px 0;
} 

.btn-slider-next:hover {
	background-position: -600px 0;
}


/* Down state */

.btn-slider-prev:active {
	background-position: -650px 0;
} 

.btn-slider-next:active {
	background-position: -700px 0;
}



/* Disabled state */

.btn-slider-prev-disabled,
.btn-slider-next-disabled {
	cursor: default !important;
}


.btn-slider-prev-disabled {
	background-position: -750px 0 !important;
} 

.btn-slider-next-disabled {
	background-position: -800px 0 !important;
}



/* Active state */

.bullet-list {

	li {
		display: block;
		height: 12px;
		width: 10px;
		cursor: pointer;

		background-position: -450px -50px;
	}

	li:hover {
		background-position: -500px -50px;
	}

	li:active {
		background-position: -550px -50px;
	}

	li.active {
		background-position: -600px -50px;
	}
	
}





/* Title Sprites */

#home-heading,
#about-appear-iq > h1,
#enquiry-heading,
#signup-heading,
#signup-success-heading,
#enquiry-success-heading,
#login-heading {
	background: transparent url(/public/sprites/sprite-titles.png) no-repeat scroll 0 0;
	margin-bottom: 15px;
}

#home-heading {
	@include ir();
	width: 331px;
	height: 59px;
}

div#about-appear-iq > h1 {
	@include ir();
	width: 157px;
	height: 33px;

	background-position: 0 -230px;
}

#enquiry-heading {
	@include ir();
	width: 245px;
	height: 30px;

	background-position: 0 -100px;
}

#signup-heading {
	@include ir();
	width: 366px;
	height: 30px;

	background-position: 0 -60px;
}

#signup-success-heading {
	@include ir();
	width: 510px;
	height: 30px;

	background-position: 0 -130px;
}

#enquiry-success-heading {
	@include ir();
	width: 366px;
	height: 30px;

	background-position: 0 -160px;
}

#login-heading {
	@include ir();
	width: 100px;
	height: 30px;

	background-position: 0 -200px;
}








