
@import "lib/common";


/* Intro */ 

#intro {

	margin-bottom: 55px;

	@include bg-wrapper();
    @include clearfix();

	> #intro-copy {
		padding: 50px 0 37px 45px;
		width: 370px;
		float: left;

        > #home-heading {
            margin-top: 10px;
        }

		p {
			display: block;
			color: $fontDarkGrey;
		}

        p#intro-main-text {
			font-size: 16px;
			margin-bottom: 25px;
        }

        p#intro-sub-text {
            font-size: 12px;
            font-style: italic;
            margin: 15px 0 0;
        }
	}

	.no-js #intro-features {
		display: none;
	}

	> #intro-features {
		display: block;
		position: absolute;
		left: 459px;
		top: 45px;

		z-index: 1;
		zoom: 1;


		> #intro-features-wrapper {
			position: relative;
			zoom: 1;

            @include clearfix();

            > #intro-slider-wrapper {
                position: relative;
                width:  388px;
                margin: 20px 0px 0 22px;
                overflow: hidden;

                zoom: 1;


                > ul {

                	zoom: 1;

                    @include clearfix();

                    > li {
                        display: block;
                        position: relative;

                        float: left;

                        width:  388px;
                        height:  278px;

                        zoom: 1;

                        > .feature-info {
                        	@include clearfix();

                        	display: block;

                        	position: absolute;
                        	width: 368px;
                        	top: 185px;
                        	left: 10px;

                        	h2 {
                        		font-size: 18px;
                        		margin-bottom: 10px;
                        	}

                        	p {
                        		font-size: 13px;
                        		margin-bottom: 12px;
                        	}
                        }
                    }
                }
            }
		}

		.btn-slider-prev,
		.btn-slider-next {
			position: absolute;
			top: 90px;

			z-index: 2;
		}

		.btn-slider-prev {
			left: -16px;
		} 

		.btn-slider-next {
			right: -17px;	
		}

		#bullet-list-wrapper {

			text-align: center;
		
			.bullet-list {

				display: inline-block;
				margin: 0 auto;
				zoom: 1;

				li {
					float: left;
					margin: 0 10px;
					zoom: 1;
				}

				li.active {
				
				}
				
			}
			
		}
	}

}

.ie8 #intro { 
	border: 1px solid $bgBorder;
}


/* About Appear IQ */

#about-appear-iq {
    margin-bottom: 50px;

    > h1 {
        margin-bottom: 5px;
    }

    > p {
        font-size: 16px;
    }
}


/* Benefits */

#benefits-list {
	display: block;

    @include clearfix();

	> li {
		display: block;
		float: left;
		width: 294px;

		h2 {
			letter-spacing: -1px;	
		}

		p {

		}

		img {
			display: inline-block;
			margin-left: 10px; 

			/* border: 1px solid #ccc; */
			float: right;
		}

		> .more {
			display: none;

            @include clearfix();
		} 

		.link-more {
			display: inline-block;
		}
	} 

	> li.first {
		margin-right: 29px;
	}

	> li.last {
		margin-left: 29px;
	}
}
